Repository slackapi/java-slack-sdk, pull requests merged in 2020-05, with the labels that each got.

#444 Bump dependencies (okhttp 4.4 -> 4.6 etc)
  bolt-jetty/pom.xml
  bolt-kotlin-examples/pom.xml
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  docs/_config.yml
  pom.xml
Labels: project:bolt, project:slack-api-client

#446 Add channel_count to subteam_created / subteam_updated events
  json-logs/samples/events/SubteamCreatedPayload.json
  json-logs/samples/events/SubteamUpdatedPayload.json
  slack-api-model/src/main/java/com/slack/api/model/event/SubteamCreatedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/SubteamUpdatedEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/SubteamCreatedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/SubteamUpdatedEventTest.java
  slack-app-backend/src/test/java/test_locally/app_backend/events/payload/SamplePayloadParsingTest.java
Labels: project:slack-api-model, project:slack-app-backend

#448 Fix #445 by adding admin.usergroups.* API
  json-logs/samples/api/admin.conversations.setTeams.json
  json-logs/samples/api/admin.usergroups.addChannels.json
  json-logs/samples/api/admin.usergroups.listChannels.json
  json-logs/samples/api/admin.usergroups.removeChannels.json
  json-logs/samples/api/usergroups.create.json
  json-logs/samples/api/usergroups.list.json
  misc/slack_ruby_app/Gemfile
  misc/slack_ruby_app/Gemfile.lock
  misc/slack_ruby_app/app.rb
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimitTier.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsRateLimiter.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/usergroups/AdminUsergroupsAddChannelsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/usergroups/AdminUsergroupsListChannelsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/usergroups/AdminUsergroupsRemoveChannelsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/usergroups/AdminUsergroupsAddChannelsResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/usergroups/AdminUsergroupsListChannelsResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/usergroups/AdminUsergroupsRemoveChannelsResponse.java
  slack-api-client/src/test/java/config/Constants.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/FieldValidation_a_to_c_Test.java
  slack-api-client/src/test/java/test_locally/api/methods/FieldValidation_o_to_z_Test.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/files_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods_admin_api/AdminApiTest.java
  slack-api-client/src/test/java/util/sample_json_generation/JsonDataRecordingListener.java
  slack-api-model/src/main/java/com/slack/api/model/Conversation.java
  slack-api-model/src/main/java/com/slack/api/model/Usergroup.java
Labels: enhancement, project:slack-api-client

#449 Run all the integration tests (2020-05-07)
  json-logs/samples/api/channels.history.json
  json-logs/samples/api/rtm.start.json
  json-logs/samples/api/search.all.json
  json-logs/samples/api/search.messages.json
  json-logs/samples/api/users.conversations.json
  json-logs/samples/rtm/SubteamCreatedEvent.json
  json-logs/samples/rtm/SubteamUpdatedEvent.json
  json-logs/samples/scim/v1/Groups.json
  json-logs/samples/scim/v1/Users.json
  json-logs/samples/scim/v1/Users/00000000000.json
  slack-api-model/src/main/java/com/slack/api/model/Attachment.java
Labels: project:slack-api-model

#450 Bump AWS SDK's patch versions
  bolt-aws-lambda/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  pom.xml
Labels: project:bolt

#451 Adding support and check for the event subtypes
  slack-api-client/src/main/java/com/slack/api/rtm/RTMEventHandler.java
  slack-api-client/src/main/java/com/slack/api/rtm/RTMEventsDispatcherImpl.java
Labels: project:slack-api-client

#452 Add a workaround for OpenJDK 11's bug
  .travis.yml
  scripts/run_no_prep_tests.sh
Labels: project:slack-api-client

#455 Update OAuth flow to complete with some cases
  bolt/src/main/java/com/slack/api/bolt/service/builtin/oauth/default_impl/OAuthV2DefaultSuccessHandler.java
  codecov.yml
  slack-app-backend/src/main/java/com/slack/api/app_backend/oauth/OAuthFlowOperator.java
Labels: project:bolt

#457 Add user.is_invited_user: boolean (detected by integration tests)
  json-logs/samples/api/admin.teams.list.json
  json-logs/samples/api/admin.teams.settings.info.json
  json-logs/samples/api/channels.history.json
  json-logs/samples/api/chat.postMessage.json
  json-logs/samples/api/conversations.history.json
  json-logs/samples/api/users.list.json
  json-logs/samples/rtm/TeamJoinEvent.json
  json-logs/samples/rtm/UserChangeEvent.json
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/FieldValidationTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/files_Test.java
  slack-api-model/src/main/java/com/slack/api/model/User.java
Labels: project:slack-api-model

#460 Apply the changes detected by integration tests (2020-05-19, PT)
  bolt-servlet/src/test/java/test_with_remote_apis/EventsApiTest.java
  json-logs/samples/api/channels.history.json
  json-logs/samples/api/chat.postMessage.json
  json-logs/samples/api/conversations.history.json
  json-logs/samples/api/groups.replies.json
  json-logs/samples/api/im.history.json
  json-logs/samples/api/im.open.json
  json-logs/samples/api/im.replies.json
  json-logs/samples/api/mpim.replies.json
  json-logs/samples/api/search.files.json
  json-logs/samples/app-backend/interactive-components/BlockActionPayload.json
  json-logs/samples/app-backend/interactive-components/MessageShortcutPayload.json
  json-logs/samples/events/AppMentionPayload.json
  json-logs/samples/events/ChannelArchivePayload.json
  json-logs/samples/events/ChannelCreatedPayload.json
  json-logs/samples/events/ChannelLeftPayload.json
  json-logs/samples/events/ChannelRenamePayload.json
  json-logs/samples/events/ChannelUnarchivePayload.json
  json-logs/samples/events/DndUpdatedPayload.json
  json-logs/samples/events/DndUpdatedUserPayload.json
  json-logs/samples/events/FileCreatedPayload.json
  json-logs/samples/events/FileDeletedPayload.json
  json-logs/samples/events/FilePublicPayload.json
  json-logs/samples/events/FileSharedPayload.json
  json-logs/samples/events/FileUnsharedPayload.json
  json-logs/samples/events/GroupArchivePayload.json
  json-logs/samples/events/GroupLeftPayload.json
  json-logs/samples/events/GroupRenamePayload.json
  json-logs/samples/events/GroupUnarchivePayload.json
  json-logs/samples/events/MemberJoinedChannelPayload.json
  json-logs/samples/events/MemberLeftChannelPayload.json
  json-logs/samples/events/MessagePayload.json
  json-logs/samples/events/PinAddedPayload.json
  json-logs/samples/events/PinRemovedPayload.json
  json-logs/samples/events/ReactionAddedPayload.json
  json-logs/samples/events/ReactionRemovedPayload.json
  json-logs/samples/events/StarAddedPayload.json
  json-logs/samples/events/StarRemovedPayload.json
  json-logs/samples/events/SubteamCreatedPayload.json
  json-logs/samples/events/SubteamMembersChangedPayload.json
  json-logs/samples/events/SubteamSelfAddedPayload.json
  json-logs/samples/events/SubteamSelfRemovedPayload.json
  json-logs/samples/events/SubteamUpdatedPayload.json
  slack-api-client/src/main/java/com/slack/api/methods/request/chat/ChatPostMessageRequest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/channels_Test.java
  slack-api-model/src/main/java/com/slack/api/model/Message.java
Labels: project:slack-api-client, project:slack-api-model, project:slack-app-backend

#461 Improve the "Under the Hood" parts in docs - thanks to feedback at #458
  docs/guides/events-api.md
  docs/guides/interactive-components.md
  docs/guides/ja/events-api.md
  docs/guides/ja/interactive-components.md
  docs/guides/ja/modals.md
  docs/guides/ja/shortcuts.md
  docs/guides/modals.md
  docs/guides/shortcuts.md
Labels: docs

#463 Apply the changes detected by integration tests (2020-05-20, PT)
  json-logs/samples/api/mpim.history.json
  json-logs/samples/api/mpim.open.json
  json-logs/samples/api/rtm.start.json
  json-logs/samples/api/users.conversations.json
  json-logs/samples/events/MemberJoinedChannelPayload.json
  scripts/run_no_prep_tests.sh
  slack-api-client/src/test/java/test_locally/api/methods/FieldValidation_a_to_c_Test.java
  slack-api-model/src/main/java/com/slack/api/model/Latest.java
Labels: project:slack-api-client, project:slack-api-model

#470 Add confirm.style in blocks
  json-logs/samples/app-backend/interactive-components/BlockActionPayload.json
  json-logs/samples/app-backend/interactive-components/MessageShortcutPayload.json
  json-logs/samples/rtm/MessageEvent.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-model/src/main/java/com/slack/api/model/block/composition/ConfirmationDialogObject.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlockKitTest.java
Labels: enhancement, project:slack-api-model

#466 Fix #462 Calls API support
  json-logs/samples/api/calls.add.json
  json-logs/samples/api/calls.end.json
  json-logs/samples/api/calls.info.json
  json-logs/samples/api/calls.participants.add.json
  json-logs/samples/api/calls.update.json
  json-logs/samples/api/chat.postMessage.json
  json-logs/samples/api/rtm.start.json
  json-logs/samples/api/users.conversations.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/calls/CallsAddRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/calls/CallsEndRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/calls/CallsInfoRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/calls/CallsUpdateRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/calls/participants/CallsParticipantsAddRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/calls/CallsAddResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/calls/CallsEndResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/calls/CallsInfoResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/calls/CallsUpdateResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/calls/participants/CallsParticipantsAddResponse.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/CallsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/FieldValidation_a_to_c_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/calls_Test.java
  slack-api-model/src/main/java/com/slack/api/model/Call.java
  slack-api-model/src/main/java/com/slack/api/model/CallParticipant.java
  slack-api-model/src/main/java/com/slack/api/model/block/Blocks.java
  slack-api-model/src/main/java/com/slack/api/model/block/CallBlock.java
  slack-api-model/src/main/java/com/slack/api/model/event/CallRejectedEvent.java
  slack-api-model/src/main/java/com/slack/api/util/json/GsonLayoutBlockFactory.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlocksTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/CallRejectedEventTest.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/CallRejectedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/CallRejectedPayload.java
  slack-app-backend/src/test/java/test_locally/app_backend/events/EventHandlersTest.java
  slack-app-backend/src/test/java/test_locally/sample_json_generation/EventsApiPayloadDumpTest.java
Labels: enhancement, project:slack-api-client, project:slack-api-model, project:slack-app-backend

#473 Apply the changes detected by integration tests (2020-05-26, PT)
  json-logs/raw/status/api/v1.0.0/current.json
  json-logs/raw/status/api/v2.0.0/current.json
  json-logs/samples/api/channels.history.json
  json-logs/samples/api/chat.postMessage.json
  json-logs/samples/api/chat.scheduleMessage.json
  json-logs/samples/api/chat.update.json
  json-logs/samples/api/conversations.history.json
  json-logs/samples/api/conversations.open.json
  json-logs/samples/api/files.list.json
  json-logs/samples/api/reactions.list.json
  json-logs/samples/api/search.all.json
  json-logs/samples/api/search.files.json
  json-logs/samples/api/search.messages.json
  json-logs/samples/api/stars.list.json
  json-logs/samples/app-backend/interactive-components/BlockActionPayload.json
  json-logs/samples/app-backend/interactive-components/MessageShortcutPayload.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-client/src/main/java/com/slack/api/methods/response/reactions/ReactionsListResponse.java
  slack-api-client/src/test/java/test_locally/api/methods/FieldValidation_d_to_m_Test.java
  slack-api-client/src/test/java/test_locally/api/methods/FieldValidation_o_to_z_Test.java
  slack-api-model/src/main/java/com/slack/api/model/File.java
  slack-api-model/src/main/java/com/slack/api/model/MatchedItem.java
  slack-api-model/src/main/java/com/slack/api/model/Message.java
Labels: project:slack-api-model

#475 Fix #474 by making redirect_uri optional
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/test/java/test_locally/api/methods/OAuthTest.java
Labels: bug, project:slack-api-client

#476 Bump dependencies (okhttp, micronaut, tyrus-standalone-client, aws-java-sdk-s3)
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  pom.xml
  slack-api-client/pom.xml
Labels: dependencies, project:bolt, project:slack-api-client, project:slack-api-client/rtm, project:slack-app-backend
