Repository slackapi/java-slack-sdk, pull requests merged in 2020-03, with the labels that each got.

#364 Add more tests and fix the issues detected
  bolt-micronaut/src/main/java/com/slack/api/bolt/micronaut/SlackAppMicronautAdapter.java
  bolt-micronaut/src/test/java/test_locally/AdapterTest.java
  bolt-micronaut/src/test/java/test_locally/app/CommandsTest.java
  bolt/src/main/java/com/slack/api/bolt/context/ActionRespondUtility.java
  bolt/src/main/java/com/slack/api/bolt/context/Context.java
  bolt/src/main/java/com/slack/api/bolt/context/RespondUtility.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/ActionContext.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/AttachmentActionContext.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/DialogCancellationContext.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/DialogSubmissionContext.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/MessageActionContext.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/SlashCommandContext.java
  bolt/src/main/java/com/slack/api/bolt/request/Request.java
  bolt/src/main/java/com/slack/api/bolt/util/SlackRequestParser.java
  bolt/src/test/java/test_locally/ActionRespondUtilityTest.java
  bolt/src/test/java/test_locally/SayUtilityTest.java
  bolt/src/test/java/test_locally/context/ActionContextTest.java
  bolt/src/test/java/test_locally/context/AttachmentActionContextTest.java
  bolt/src/test/java/test_locally/context/ContextTest.java
  bolt/src/test/java/test_locally/context/DialogCancellationContextTest.java
  bolt/src/test/java/test_locally/context/DialogSubmissionContextTest.java
  bolt/src/test/java/test_locally/context/MessageActionContextTest.java
  bolt/src/test/java/test_locally/context/SlashCommandContextTest.java
  bolt/src/test/java/test_locally/context/WebEndpointContextTest.java
  bolt/src/test/java/util/WebhookMockServer.java
  json-logs/samples/api/migration.exchange.json
  slack-api-client/pom.xml
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncRateLimitExecutor.java
  slack-api-client/src/test/java/test_locally/api/methods/ChannelsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/ChatTest.java
  slack-api-client/src/test/java/test_locally/api/methods/ConversationsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/DialogTest.java
  slack-api-client/src/test/java/test_locally/api/methods/FilesTest.java
  slack-api-client/src/test/java/test_locally/api/methods/GroupsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/MigrationTest.java
  slack-api-client/src/test/java/test_locally/api/methods/metrics/RedisMetricsDatastoreTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiTest.java
  slack-api-client/src/test/java/test_locally/api/methods_workspace_apps/WorkspaceAppApiTest.java
Labels: project:bolt, project:slack-api-client

#365 Change the initial state of EventsDispatcher
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/EventsDispatcherImpl.java
  slack-app-backend/src/test/java/test_locally/app_backend/events/EventsDispatcherTest.java
Labels: bug

#366 Add more tests and fix the issues detected by those tests
  bolt-aws-lambda/pom.xml
  bolt-aws-lambda/src/main/java/com/slack/api/bolt/aws_lambda/SlackApiLambdaHandler.java
  bolt-aws-lambda/src/main/java/com/slack/api/bolt/aws_lambda/request/PayloadExtractor.java
  bolt-aws-lambda/src/test/java/test_locally/ApiGatewayRequestTest.java
  bolt-aws-lambda/src/test/java/test_locally/ApiGatewayResponseTest.java
  bolt-aws-lambda/src/test/java/test_locally/PayloadExtractorTest.java
  bolt-aws-lambda/src/test/java/test_locally/SlackApiLambdaHandlerTest.java
  bolt-aws-lambda/src/test/java/util/AuthTestMockServer.java
  bolt-aws-lambda/src/test/java/util/ObjectInitializer.java
  bolt-aws-lambda/src/test/java/util/PortProvider.java
  bolt-aws-lambda/src/test/resources/logback.xml
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/main/java/com/slack/api/bolt/request/Request.java
  bolt/src/main/java/com/slack/api/bolt/util/SlackRequestParser.java
  bolt/src/test/java/test_locally/AppTest.java
  bolt/src/test/java/test_locally/app/MessageActionTest.java
  bolt/src/test/java/test_locally/context/MessageActionContextTest.java
  bolt/src/test/java/test_locally/middleware/LegacyRequestVerificationTest.java
  bolt/src/test/java/test_locally/service/AmazonS3InstallationServiceTest.java
  bolt/src/test/java/test_locally/service/DefaultOAuthCallbackServiceTest.java
  bolt/src/test/java/test_locally/service/FileInstallationServiceTest.java
  bolt/src/test/java/test_locally/service/InstallationServiceTest.java
  bolt/src/test/java/test_locally/service/OAuthStateServiceTest.java
  json-logs/samples/aws/ApiGatewayRequest.json
  json-logs/samples/aws/ApiGatewayResponse.json
  json-logs/samples/scim/v1/Groups/000000000.json
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsRateLimiter.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncRateLimitExecutor.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncRateLimitQueue.java
  slack-api-client/src/test/java/test_locally/SlackConfigTest.java
  slack-api-client/src/test/java/test_locally/SlackTest.java
  slack-api-client/src/test/java/test_locally/api/methods/AuthTest.java
  slack-api-client/src/test/java/test_locally/api/methods/metrics/RedisMetricsDatastoreTest.java
  slack-api-client/src/test/java/test_locally/api/scim/ApiTest.java
  slack-api-client/src/test/java/test_locally/api/util/http/ResponsePrettyPrintingListenerTest.java
  slack-api-client/src/test/java/util/MockWebhookServer.java
  slack-api-client/src/test/java/util/sample_json_generation/JsonDataRecorder.java
  slack-app-backend/src/test/java/test_locally/app_backend/events/servlet/EventsApiTest.java
  slack-app-backend/src/test/java/util/ServletTestUtils.java
Labels: project:bolt, project:slack-api-client, project:slack-app-backend

#369 Fix doc errors
  bolt-kotlin-examples/src/main/kotlin/examples/docs/AppHome.kt
  bolt-kotlin-examples/src/main/kotlin/examples/docs/EventsApi.kt
  bolt-kotlin-examples/src/main/kotlin/examples/docs/InteractiveComponents.kt
  bolt-kotlin-examples/src/main/kotlin/examples/docs/Modals.kt
  bolt-kotlin-examples/src/main/kotlin/examples/docs/SlashCommands.kt
  bolt/src/test/java/test_locally/docs/AppHomeTest.java
  bolt/src/test/java/test_locally/docs/AuditLogsApiTest.java
  bolt/src/test/java/test_locally/docs/BasicsTest.java
  bolt/src/test/java/test_locally/docs/EventsApiTest.java
  bolt/src/test/java/test_locally/docs/InteractiveComponentsTest.java
  bolt/src/test/java/test_locally/docs/ModalsTest.java
  bolt/src/test/java/test_locally/docs/OAuthTest.java
  bolt/src/test/java/test_locally/docs/SCIMApiTest.java
  bolt/src/test/java/test_locally/docs/SlashCommandTest.java
  bolt/src/test/java/test_locally/docs/StatusApiTest.java
  bolt/src/test/java/test_locally/docs/WebApiForAdminsTest.java
  docs/guides/app-distribution.md
  docs/guides/app-home.md
  docs/guides/audit-logs-api.md
  docs/guides/bolt-basics.md
  docs/guides/interactive-components.md
  docs/guides/ja/actions.md
  docs/guides/ja/app-distribution.md
  docs/guides/ja/app-home.md
  docs/guides/ja/audit-logs-api.md
  docs/guides/ja/bolt-basics.md
  docs/guides/ja/events-api.md
  docs/guides/ja/interactive-components.md
  docs/guides/ja/modals.md
  docs/guides/ja/slash-commands.md
  docs/guides/modals.md
  docs/guides/slash-commands.md
Labels: docs, project:bolt, project:slack-api-client

#371 Add Helidon SE support
  README.md
  bolt-helidon/pom.xml
  bolt-helidon/src/main/java/com/slack/api/bolt/helidon/SlackAppServer.java
  bolt-helidon/src/main/java/com/slack/api/bolt/helidon/SlackAppService.java
  bolt-helidon/src/test/java/test_locally/Main.java
  bolt-helidon/src/test/java/test_locally/MainTest.java
  bolt-helidon/src/test/java/test_locally/SlackAppServerTest.java
  bolt-helidon/src/test/java/test_locally/SlackAppServiceTest.java
  bolt-helidon/src/test/java/util/HashParameters.java
  bolt-helidon/src/test/java/util/HashRequestHeaders.java
  bolt-helidon/src/test/java/util/PortProvider.java
  bolt-helidon/src/test/resources/application.yaml
  bolt-helidon/src/test/resources/logback.xml
  bolt/src/main/java/com/slack/api/bolt/App.java
  docs/_config.yml
  docs/guides/ja/index.md
  docs/guides/ja/supported-web-frameworks.md
  docs/guides/supported-web-frameworks.md
  docs/index.md
  pom.xml
Labels: enhancement, project:bolt

#373 Fix #372 chat.update and others' issues with bot tokens in Granular Permissions
  json-logs/samples/api/channels.history.json
  json-logs/samples/api/channels.replies.json
  json-logs/samples/api/conversations.history.json
  json-logs/samples/api/conversations.join.json
  json-logs/samples/api/conversations.open.json
  json-logs/samples/api/conversations.replies.json
  json-logs/samples/api/reactions.get.json
  json-logs/samples/api/rtm.start.json
  json-logs/samples/api/search.all.json
  json-logs/samples/api/search.messages.json
  json-logs/samples/api/users.profile.get.json
  json-logs/samples/api/views.publish.json
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncRateLimitExecutor.java
  slack-api-client/src/main/java/com/slack/api/methods/request/chat/ChatDeleteRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/chat/ChatPostEphemeralRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/chat/ChatUpdateRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/chat/ChatDeleteResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/chat/ChatPostEphemeralResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/chat/ChatPostMessageResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/chat/ChatUpdateResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/ConversationsCloseResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/ConversationsJoinResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/reactions/ReactionsGetResponse.java
  slack-api-client/src/test/java/test_locally/api/methods/FieldValidation_a_to_c_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/IncomingWebhooksTest.java
  slack-api-client/src/test/java/test_with_remote_apis/SimpleExampleTest.java
  slack-api-client/src/test/java/test_with_remote_apis/UnnecessaryChannelsCleanerTest.java
  slack-api-client/src/test/java/test_with_remote_apis/UserDefinedMethodsTest.java
  slack-api-client/src/test/java/test_with_remote_apis/audit/ApiTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/BlockKit_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/RateLimiterTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/apps_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/auth_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/bots_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/channels_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/conversations_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/dialogs_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/dnd_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/emoji_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/groups_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/im_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/mpim_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/pins_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/reactions_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/reminders_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/search_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/shared_channels_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/stars_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/team_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/usergroups_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/users_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/users_profile_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/views_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods_workspace_apps/WorkspaceAppApiTest.java
  slack-api-client/src/test/java/test_with_remote_apis/scim/ApiTest.java
  slack-api-client/src/test/java/util/sample_json_generation/JsonDataRecorder.java
  slack-api-model/src/main/java/com/slack/api/model/MatchedItem.java
  slack-api-model/src/main/java/com/slack/api/model/Message.java
  slack-api-model/src/main/java/com/slack/api/model/WarningResponseMetadata.java
Labels: bug, project:slack-api-client, project:slack-api-model

#375 Add more unit tests & fix a minor issue in SingleTeamAuthorization
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/SingleTeamAuthorization.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/AttachmentActionRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/BlockActionRequest.java
  bolt/src/test/java/test_locally/middleware/LegacyRequestVerificationTest.java
  bolt/src/test/java/test_locally/middleware/SingleTeamAuthorizationTest.java
  bolt/src/test/java/test_locally/request/BlockActionRequestTest.java
  bolt/src/test/java/test_locally/request/LegacyRequestsTest.java
  bolt/src/test/java/test_locally/request/WebEndpointRequestTest.java
  bolt/src/test/java/test_locally/response/ResponderTest.java
  bolt/src/test/java/test_locally/response/ResponseTest.java
  bolt/src/test/java/test_locally/servlet/ServletAdapterOpsTest.java
  bolt/src/test/java/test_locally/servlet/SlackAppServletTest.java
  bolt/src/test/java/test_locally/servlet/SlackOAuthAppServletTest.java
Labels: project:bolt

#377 Add missing field to chat.scheduledMessages.list
  json-logs/samples/api/chat.scheduleMessage.json
  json-logs/samples/api/chat.scheduledMessages.list.json
  slack-api-client/src/main/java/com/slack/api/methods/response/chat/scheduled_messages/ChatScheduledMessagesListResponse.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
Labels: project:slack-api-client

#380 Fix a few errors in the docs
  docs/guides/actions.md
  docs/guides/events-api.md
  docs/guides/interactive-components.md
  docs/guides/ja/actions.md
  docs/guides/ja/bolt-basics.md
  docs/guides/ja/events-api.md
  docs/guides/ja/interactive-components.md
  docs/guides/ja/slash-commands.md
  docs/guides/scim-api.md
  docs/guides/slash-commands.md
Labels: docs

#379 Removing overriding of enterprise_id over team_id
  bolt/src/main/java/com/slack/api/bolt/request/builtin/EventRequest.java
Labels: bug, project:bolt

#376 Add prefix to the User-Agent string
  slack-api-client/src/main/java/com/slack/api/util/http/UserAgentInterceptor.java
  slack-api-client/src/test/java/test_locally/api/util/UserAgentInterceptorTest.java
Labels: project:bolt, project:slack-api-client

#384 Bump dependency patch versions (2020-03-07)
  bolt-helidon/pom.xml
  bolt-kotlin-examples/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  pom.xml
  slack-api-client/pom.xml
Labels: project:bolt, project:slack-api-client

#385 Get rid of the reflection API usage for response_url access
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/MultiTeamsAuthorization.java
  bolt/src/main/java/com/slack/api/bolt/request/Request.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/AttachmentActionRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/BlockActionRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/BlockSuggestionRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/DialogCancellationRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/DialogSubmissionRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/DialogSuggestionRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/EventRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/MessageActionRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/OAuthCallbackRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/OAuthStartRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/OutgoingWebhooksRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/SSLCheckRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/SlashCommandRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/UrlVerificationRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/ViewClosedRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/ViewSubmissionRequest.java
  bolt/src/main/java/com/slack/api/bolt/response/ResponseTypes.java
  bolt/src/test/java/test_locally/middleware/MiddlewareOpsTest.java
Labels: project:bolt

#386 Remove unused / deprecated methods
  slack-api-client/src/main/java/com/slack/api/scim/SCIMClient.java
  slack-api-client/src/main/java/com/slack/api/scim/impl/SCIMClientImpl.java
  slack-api-client/src/main/java/com/slack/api/util/http/SlackHttpClient.java
Labels: project:slack-api-client

#387 Add more tests using real payloads for bolt
  bolt/src/test/java/test_locally/SayUtilityTest.java
  bolt/src/test/java/test_locally/app/AttachmentActionTest.java
  bolt/src/test/java/test_locally/app/BlockActionTest.java
  bolt/src/test/java/test_locally/app/BlockSuggestionTest.java
  bolt/src/test/java/test_locally/app/DialogCancellationTest.java
  bolt/src/test/java/test_locally/app/DialogSubmissionTest.java
  bolt/src/test/java/test_locally/app/DialogSuggestionTest.java
  bolt/src/test/java/test_locally/app/EventTest.java
  bolt/src/test/java/test_locally/app/MessageActionTest.java
  bolt/src/test/java/test_locally/app/MessageTest.java
  bolt/src/test/java/test_locally/app/ViewClosedTest.java
  bolt/src/test/java/test_locally/app/ViewSubmissionTest.java
  bolt/src/test/java/test_locally/middleware/IgnoringSelfEventsTest.java
  bolt/src/test/java/test_locally/request/BlockActionRequestTest.java
  bolt/src/test/java/test_locally/response/ResponderTest.java
  bolt/src/test/java/test_locally/servlet_test/DialogTest.java
Labels: project:bolt

#388 Fix null name for middleware in Kotlin debug logging
  bolt/src/main/java/com/slack/api/bolt/App.java
Labels: project:slack-api-client

#389 Add a bunch of package-info.java & remove AWS related classes from slack-app-backend
  bolt-aws-lambda/src/main/java/com/slack/api/bolt/aws_lambda/package-info.java
  bolt-helidon/src/main/java/com/slack/api/bolt/helidon/package-info.java
  bolt-jetty/src/main/java/com/slack/api/bolt/jetty/package-info.java
  bolt-micronaut/src/main/java/com/slack/api/bolt/micronaut/package-info.java
  bolt/src/main/java/com/slack/api/bolt/context/package-info.java
  bolt/src/main/java/com/slack/api/bolt/handler/package-info.java
  bolt/src/main/java/com/slack/api/bolt/meta/package-info.java
  bolt/src/main/java/com/slack/api/bolt/middleware/package-info.java
  bolt/src/main/java/com/slack/api/bolt/model/package-info.java
  bolt/src/main/java/com/slack/api/bolt/package-info.java
  bolt/src/main/java/com/slack/api/bolt/request/package-info.java
  bolt/src/main/java/com/slack/api/bolt/response/package-info.java
  bolt/src/main/java/com/slack/api/bolt/service/package-info.java
  bolt/src/main/java/com/slack/api/bolt/servlet/package-info.java
  bolt/src/main/java/com/slack/api/bolt/util/package-info.java
  slack-api-client/src/main/java/com/slack/api/audit/package-info.java
  slack-api-client/src/main/java/com/slack/api/meta/package-info.java
  slack-api-client/src/main/java/com/slack/api/methods/package-info.java
  slack-api-client/src/main/java/com/slack/api/package-info.java
  slack-api-client/src/main/java/com/slack/api/rtm/package-info.java
  slack-api-client/src/main/java/com/slack/api/scim/package-info.java
  slack-api-client/src/main/java/com/slack/api/status/v1/package-info.java
  slack-api-client/src/main/java/com/slack/api/status/v2/package-info.java
  slack-api-client/src/main/java/com/slack/api/util/http/package-info.java
  slack-api-client/src/main/java/com/slack/api/util/json/package-info.java
  slack-api-model/src/main/java/com/slack/api/meta/package-info.java
  slack-api-model/src/main/java/com/slack/api/model/admin/package-info.java
  slack-api-model/src/main/java/com/slack/api/model/block/composition/package-info.java
  slack-api-model/src/main/java/com/slack/api/model/block/element/package-info.java
  slack-api-model/src/main/java/com/slack/api/model/block/package-info.java
  slack-api-model/src/main/java/com/slack/api/model/dialog/package-info.java
  slack-api-model/src/main/java/com/slack/api/model/event/package-info.java
  slack-api-model/src/main/java/com/slack/api/model/package-info.java
  slack-api-model/src/main/java/com/slack/api/model/view/package-info.java
  slack-api-model/src/main/java/com/slack/api/util/json/package-info.java
  slack-api-model/src/main/java/com/slack/api/webhook/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/config/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/dialogs/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/interactive_components/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/oauth/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/outgoing_webhooks/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/slash_commands/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/ssl_check/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/util/package-info.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/vendor/aws/lambda/request/ApiGatewayRequest.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/vendor/aws/lambda/request/Identity.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/vendor/aws/lambda/request/PayloadExtractor.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/vendor/aws/lambda/request/RequestContext.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/vendor/aws/lambda/response/ApiGatewayResponse.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/vendor/aws/lambda/util/SlackSignatureVerifier.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/views/package-info.java
  slack-app-backend/src/test/java/test_locally/app_backend/vendor/aws/lambda/request/ApiGatewayRequestTest.java
  slack-app-backend/src/test/java/test_locally/app_backend/vendor/aws/lambda/request/PayloadExtractorTest.java
  slack-app-backend/src/test/java/test_locally/app_backend/vendor/aws/lambda/response/ApiGatewayResponseTest.java
  slack-app-backend/src/test/java/test_locally/app_backend/vendor/aws/lambda/util/SlackSignatureVerifierTest.java
  slack-app-backend/src/test/java/test_with_remote_apis/interactive_messages/BlockKitBackend.java
  slack-app-backend/src/test/java/test_with_remote_apis/views/ViewsApiBackend.java
Labels: docs

#390 Fix okhttp deprecation warnings & remove an unused method
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/test/java/test_locally/api/methods/FilesTest.java
  slack-api-client/src/test/java/test_locally/api/methods/MethodsClientImplTest.java
  slack-api-client/src/test/java/test_locally/api/methods/metrics/RedisMaintenanceJobTest.java
  slack-api-client/src/test/java/test_locally/api/methods/metrics/RedisMetricsDatastoreTest.java
Labels: project:slack-api-client

#391 Remove Outgoing Webhooks support from Bolt framework
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/OutgoingWebhooksContext.java
  bolt/src/main/java/com/slack/api/bolt/handler/builtin/OutgoingWebhooksHandler.java
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/LegacyRequestVerification.java
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/MultiTeamsAuthorization.java
  bolt/src/main/java/com/slack/api/bolt/request/RequestType.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/OutgoingWebhooksRequest.java
  bolt/src/main/java/com/slack/api/bolt/response/Responder.java
  bolt/src/main/java/com/slack/api/bolt/response/ResponseTypes.java
  bolt/src/main/java/com/slack/api/bolt/util/SlackRequestParser.java
  bolt/src/test/java/samples/OutgoingWebhooksSample.java
  bolt/src/test/java/test_locally/AckTest.java
  bolt/src/test/java/test_locally/context/OutgoingWebhooksContextTest.java
  bolt/src/test/java/test_locally/middleware/LegacyRequestVerificationTest.java
  bolt/src/test/java/test_locally/request/LegacyRequestsTest.java
  bolt/src/test/java/test_locally/response/ResponderTest.java
  bolt/src/test/java/test_locally/util/SlackRequestParserTest.java
  bolt/src/test/java/util/MockSlackApi.java
Labels: project:bolt

#392 Add missing multi-select support in block_actions payload
  bolt/src/test/java/samples/BlocksSample.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/interactive_components/payload/BlockActionPayload.java
Labels: bug, project:bolt, project:slack-app-backend

#394 Update the document and README for #393
  README.md
  docs/guides/getting-started-with-bolt.md
  docs/guides/ja/getting-started-with-bolt.md
  docs/guides/ja/index.md
  docs/guides/ja/supported-web-frameworks.md
  docs/guides/supported-web-frameworks.md
  docs/index.md
Labels: docs, project:bolt

#395 Update the message event examples in documents
  docs/guides/bolt-basics.md
  docs/guides/events-api.md
  docs/guides/ja/bolt-basics.md
  docs/guides/ja/events-api.md
  json-logs/samples/events/MessagePayload.json
  json-logs/samples/rtm/MessageEvent.json
  slack-api-model/src/main/java/com/slack/api/model/event/MessageEvent.java
Labels: docs, project:bolt, project:slack-app-backend

#397 Fix #396 by using only daemon threads
  slack-api-client/src/main/java/com/slack/api/methods/impl/ThreadPools.java
  slack-api-client/src/main/java/com/slack/api/methods/metrics/impl/MemoryMetricsDatastore.java
  slack-api-client/src/main/java/com/slack/api/methods/metrics/impl/RedisMetricsDatastore.java
  slack-api-client/src/test/java/test_locally/api/methods/AuthTest.java
  slack-api-client/src/test/java/test_locally/api/methods/MethodsClientImplTest.java
  slack-api-client/src/test/java/test_locally/api/methods/MethodsConfigTest.java
  slack-api-client/src/test/java/test_locally/api/methods/MigrationTest.java
  slack-api-client/src/test/java/test_locally/api/methods/metrics/MemoryMetricsDatastoreTest.java
  slack-api-client/src/test/java/test_locally/api/methods/metrics/RedisMetricsDatastoreTest.java
  slack-api-client/src/test/java/test_locally/api/status/LegacyApiTest.java
  slack-api-client/src/test/java/test_locally/api/util/SlackHttpClientTest.java
  slack-api-client/src/test/java/test_locally/snippet/Issue396.java
  slack-api-client/src/test/java/test_with_remote_apis/UnnecessaryChannelsCleanerTest.java
  slack-api-client/src/test/java/util/sample_json_generation/JsonDataRecordingListener.java
  slack-api-model/src/main/java/com/slack/api/util/thread/DaemonThreadFactory.java
  slack-api-model/src/main/java/com/slack/api/util/thread/ExecutorServiceFactory.java
  slack-api-model/src/test/java/test_locally/util/DaemonThreadFactoryTest.java
  slack-api-model/src/test/java/test_locally/util/ExecutorServiceFactoryTest.java
Labels: bug, project:slack-api-client, project:slack-api-model

#400 Add more supports for attachments-related params in chat.unfurl request #399
  slack-api-client/src/main/java/com/slack/api/methods/request/chat/ChatUnfurlRequest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
Labels: project:slack-api-client

#403 Add skin_tone attribute to emoji element in rich_text blocks
  json-logs/samples/api/channels.history.json
  json-logs/samples/api/rtm.start.json
  slack-api-model/src/main/java/com/slack/api/model/block/element/RichTextSectionElement.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlocksTest.java
Labels: project:slack-api-model

#404 Add filter to (multi_)conversations_select (also response_url_enabled)
  json-logs/samples/app-backend/interactive-components/BlockActionPayload.json
  json-logs/samples/app-backend/interactive-components/MessageShortcutPayload.json
  json-logs/samples/rtm/MessageEvent.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-model/src/main/java/com/slack/api/model/block/element/ChannelsSelectElement.java
  slack-api-model/src/main/java/com/slack/api/model/block/element/ConversationsFilter.java
  slack-api-model/src/main/java/com/slack/api/model/block/element/ConversationsSelectElement.java
  slack-api-model/src/main/java/com/slack/api/model/block/element/MultiConversationsSelectElement.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlocksTest.java
  slack-app-backend/src/test/java/util/sample_json_generation/SampleObjects.java
Labels: enhancement, project:slack-api-model

#405 Add support for response_urls in modals
  bolt-servlet/src/test/java/samples/AttachmentActionSample.java
  bolt-servlet/src/test/java/samples/DialogSample.java
  bolt-servlet/src/test/java/samples/MessageShortcutSample.java
  bolt-servlet/src/test/java/samples/ViewResponseUrlEnabledSample.java
  bolt-servlet/src/test/java/samples/ViewSample.java
  bolt-servlet/src/test/java/util/ResourceLoader.java
  bolt-servlet/src/test/resources/action_response/message1.json
  bolt-servlet/src/test/resources/attachments/message1.json
  bolt-servlet/src/test/resources/dialogs/dialog.json
  bolt-servlet/src/test/resources/views/view1.json
  bolt-servlet/src/test/resources/views/view2.json
  bolt-servlet/src/test/resources/views/view3.json
  bolt-servlet/src/test/resources/views/view4.json
  bolt/src/main/java/com/slack/api/bolt/context/InputBlockRespondUtility.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/ViewSubmissionContext.java
  bolt/src/main/java/com/slack/api/bolt/handler/builtin/GlobalShortcutHandler.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/ViewSubmissionRequest.java
  bolt/src/main/java/com/slack/api/bolt/response/Responder.java
  bolt/src/test/java/test_locally/context/ViewSubmissionContextTest.java
  bolt/src/test/java/test_locally/request/ViewSubmissionRequestTest.java
  bolt/src/test/java/test_locally/response/ResponderTest.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/views/InputBlockResponseSender.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/views/payload/ViewSubmissionPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/views/response/InputBlockResponse.java
  slack-app-backend/src/test/java/test_locally/app_backend/views/InputBlockResponseSenderTest.java
  slack-app-backend/src/test/java/test_locally/app_backend/views/ViewClosedPayloadTest.java
  slack-app-backend/src/test/java/test_locally/app_backend/views/ViewSubmissionPayloadTest.java
Labels: project:bolt, project:slack-app-backend

#407 Fix for UnsupportedOperationException in user_change event
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/IgnoringSelfEvents.java
  bolt/src/test/java/test_locally/middleware/IgnoringSelfEventsTest.java
Labels: bug, project:bolt

#408 Run all the tests (2020/03/24)
  json-logs/raw/audit/v1/actions.json
  json-logs/raw/status/api/v1.0.0/current.json
  json-logs/raw/status/api/v2.0.0/current.json
  json-logs/samples/api/rtm.start.json
  scripts/run_all_bolt_tests.sh
  scripts/run_all_client_tests.sh
  slack-api-client/src/main/java/com/slack/api/audit/Actions.java
Labels: project:slack-api-client

#411 Fix #409 by adding valid response structure - user.groups
  json-logs/samples/scim/v1/Groups.json
  json-logs/samples/scim/v1/Users.json
  json-logs/samples/scim/v1/Users/00000000000.json
  slack-api-client/src/main/java/com/slack/api/scim/model/Group.java
  slack-api-client/src/main/java/com/slack/api/scim/model/User.java
  slack-api-client/src/test/java/test_with_remote_apis/scim/ApiTest.java
  slack-api-client/src/test/java/util/sample_json_generation/JsonDataRecorder.java
Labels: bug, project:slack-api-client

#412 Fix #410 Hint for a Modal Surface's Input block
  slack-api-model/src/main/java/com/slack/api/model/block/InputBlock.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlockKitTest.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlocksTest.java
Labels: bug, project:slack-api-model

#413 Bump the okhttp patch version from 4.4.0 to 4.4.1
  json-logs/raw/status/api/v1.0.0/current.json
  pom.xml
Labels: project:slack-api-client
