Repository slackapi/java-slack-sdk, pull requests merged in 2020-07, with the labels that each got.

#506 Run all slack-api-client integration tests - 2020-07-01
  json-logs/raw/audit/v1/actions.json
  json-logs/samples/api/rtm.start.json
  slack-api-client/src/main/java/com/slack/api/audit/Actions.java
Labels: project:slack-api-client

#502 Fix #468 by implementing short-time cache for authorization middleware
  bolt/src/main/java/com/slack/api/bolt/AppConfig.java
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/MultiTeamsAuthorization.java
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/SingleTeamAuthorization.java
  bolt/src/test/java/test_locally/app/MultiTeamsAuthTestCacheTest.java
  bolt/src/test/java/test_locally/app/SingleTeamAuthTestCacheTest.java
Labels: enhancement, project:bolt

#503 Add Kotlin DSL documentation (English)
  README.md
  docs/guides/app-home.md
  docs/guides/composing-messages.md
  docs/guides/modals.md
  docs/guides/web-api-basics.md
  docs/guides/web-api-client-setup.md
  docs/index.md
Labels: docs, lang:koltin, project:slack-api-client, project:slack-api-model

#512 Redact authorization header from debug logging outputs
  slack-api-client/src/main/java/com/slack/api/util/http/listener/DetailedLoggingListener.java
Labels: project:slack-api-client

#508 Dependency updates in v1.1 (tl;dr - okhttp 4.7 to 4.8, micronaut 1.3 to 2.0)
  bolt-helidon/pom.xml
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  docs/_config.yml
  docs/guides/ja/supported-web-frameworks.md
  docs/guides/supported-web-frameworks.md
  pom.xml
Labels: project:bolt, project:slack-api-client

#513 Add Japanese version of #503 Kotlin DSL documents
  docs/guides/app-home.md
  docs/guides/composing-messages.md
  docs/guides/ja/app-home.md
  docs/guides/ja/composing-messages.md
  docs/guides/ja/index.md
  docs/guides/ja/modals.md
  docs/guides/ja/web-api-basics.md
  docs/guides/ja/web-api-client-setup.md
  docs/guides/modals.md
  docs/index.md
Labels: docs, project:slack-api-client, project:slack-api-model

#515 Run all the integration tests - 2020-07-14 PT
  json-logs/raw/audit/v1/actions.json
  json-logs/samples/api/rtm.start.json
  slack-api-client/src/main/java/com/slack/api/audit/Actions.java
Labels: project:slack-api-client

#516 Add more tests for Kotlin extensions
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/HomeTemplateTest.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/MessageTemplateTest.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/ModalTemplateTest.kt
Labels: lang:koltin, project:slack-api-model

#514 version 1.1.0 release
  bolt-aws-lambda/pom.xml
  bolt-docker-examples/echo-command-app/build.gradle
  bolt-helidon/pom.xml
  bolt-jetty/pom.xml
  bolt-kotlin-examples/pom.xml
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-servlet/pom.xml
  bolt-spring-boot-examples/pom.xml
  bolt/pom.xml
  bolt/src/main/java/com/slack/api/bolt/meta/BoltLibraryVersion.java
  docs/_config.yml
  pom.xml
  slack-api-client-kotlin-extension/pom.xml
  slack-api-client/pom.xml
  slack-api-client/src/main/java/com/slack/api/meta/SlackApiClientLibraryVersion.java
  slack-api-model-kotlin-extension/pom.xml
  slack-api-model/pom.xml
  slack-api-model/src/main/java/com/slack/api/meta/SlackApiModelLibraryVersion.java
  slack-app-backend/pom.xml
Labels: enhancement, lang:koltin, project:bolt, project:slack-api-client, project:slack-api-model, project:slack-app-backend

#517 Website deployment
  README.md
  bolt-aws-lambda/pom.xml
  bolt-docker-examples/echo-command-app/build.gradle
  bolt-helidon/pom.xml
  bolt-jetty/pom.xml
  bolt-kotlin-examples/pom.xml
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-servlet/pom.xml
  bolt-spring-boot-examples/pom.xml
  bolt/pom.xml
  bolt/src/main/java/com/slack/api/bolt/meta/BoltLibraryVersion.java
  docs/_config.yml
  docs/guides/app-home.md
  docs/guides/composing-messages.md
  docs/guides/ja/app-home.md
  docs/guides/ja/composing-messages.md
  docs/guides/ja/index.md
  docs/guides/ja/modals.md
  docs/guides/ja/supported-web-frameworks.md
  docs/guides/ja/web-api-basics.md
  docs/guides/ja/web-api-client-setup.md
  docs/guides/modals.md
  docs/guides/supported-web-frameworks.md
  docs/guides/web-api-basics.md
  docs/guides/web-api-client-setup.md
  docs/index.md
  json-logs/raw/audit/v1/actions.json
  json-logs/samples/api/files.list.json
  json-logs/samples/api/rtm.start.json
  json-logs/samples/api/usergroups.create.json
  json-logs/samples/api/usergroups.disable.json
  json-logs/samples/api/usergroups.enable.json
  json-logs/samples/api/usergroups.list.json
  json-logs/samples/api/usergroups.update.json
  json-logs/samples/api/usergroups.users.update.json
  pom.xml
  slack-api-client-kotlin-extension/pom.xml
  slack-api-client/pom.xml
  slack-api-client/src/main/java/com/slack/api/audit/Actions.java
  slack-api-client/src/main/java/com/slack/api/meta/SlackApiClientLibraryVersion.java
  slack-api-client/src/main/java/com/slack/api/util/http/listener/DetailedLoggingListener.java
  slack-api-model-kotlin-extension/pom.xml
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/HomeTemplateTest.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/MessageTemplateTest.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/ModalTemplateTest.kt
  slack-api-model/pom.xml
  slack-api-model/src/main/java/com/slack/api/meta/SlackApiModelLibraryVersion.java
  slack-app-backend/pom.xml
Labels: docs

#524 Fix #523 by having the default filename of multipart/form-data in files.upload requests
  bolt-kotlin-examples/src/test/kotlin/test_with_remote_apis/issues/Issue523Test.kt
  bolt-kotlin-examples/src/test/resources/sample.jpg
  bolt-kotlin-examples/src/test/resources/sample.txt
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/files_Test.java
Labels: bug, project:slack-api-client

#526 Fix #525 by correcting the structure of details in LogsResponse (Audit Logs API)
  json-logs/samples/audit/v1/logs.json
  slack-api-client/src/main/java/com/slack/api/audit/AuditApiErrorResponse.java
  slack-api-client/src/main/java/com/slack/api/audit/AuditApiException.java
  slack-api-client/src/main/java/com/slack/api/audit/AuditApiResponse.java
  slack-api-client/src/main/java/com/slack/api/audit/AuditClient.java
  slack-api-client/src/main/java/com/slack/api/audit/impl/AuditClientImpl.java
  slack-api-client/src/main/java/com/slack/api/audit/response/ActionsResponse.java
  slack-api-client/src/main/java/com/slack/api/audit/response/LogsResponse.java
  slack-api-client/src/main/java/com/slack/api/audit/response/SchemasResponse.java
  slack-api-client/src/main/java/com/slack/api/util/json/GsonAuditLogsDetailsChangedValueFactory.java
  slack-api-client/src/main/java/com/slack/api/util/json/GsonFactory.java
  slack-api-client/src/test/java/config/SlackTestConfig.java
  slack-api-client/src/test/java/test_locally/api/audit/FieldsTest.java
  slack-api-client/src/test/java/test_locally/api/util/json/GsonAuditLogsDetailsChangedValueFactoryTest.java
  slack-api-client/src/test/java/test_with_remote_apis/audit/ApiTest.java
Labels: bug, project:slack-api-client

#528 Fix #527 by adding header block support
  slack-api-client/src/test/java/test_with_remote_apis/methods/BlockKit_Test.java
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/HeaderBlockBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/container/MultiLayoutBlockContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/dsl/LayoutBlockDsl.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/BasicUsageTest.kt
  slack-api-model/src/main/java/com/slack/api/model/block/Blocks.java
  slack-api-model/src/main/java/com/slack/api/model/block/HeaderBlock.java
  slack-api-model/src/main/java/com/slack/api/util/json/GsonLayoutBlockFactory.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlockKitTest.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlocksTest.java
Labels: enhancement, lang:koltin, project:slack-api-model
