Repository slackapi/java-slack-sdk, pull requests merged in 2020-06, with the labels that each got.

#480 FIxes false detection of subtypes when the subtype is embedded under a sub document
  slack-api-client/src/main/java/com/slack/api/rtm/RTMEventsDispatcherImpl.java
  slack-api-client/src/test/java/test_locally/api/rtm/RTMEventsDispatcherImplTest.java
Labels: bug, project:slack-api-client/rtm

#487 Add admin.conversations.whitelist.* API
  json-logs/samples/api/admin.conversations.whitelist.add.json
  json-logs/samples/api/admin.conversations.whitelist.listGroupsLinkedToChannel.json
  json-logs/samples/api/admin.conversations.whitelist.remove.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/conversations/whitelist/AdminConversationsWhitelistAddRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/conversations/whitelist/AdminConversationsWhitelistListGroupsLinkedToChannelRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/conversations/whitelist/AdminConversationsWhitelistRemoveRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/conversations/whitelist/AdminConversationsWhitelistAddResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/conversations/whitelist/AdminConversationsWhitelistListGroupsLinkedToChannelResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/conversations/whitelist/AdminConversationsWhitelistRemoveResponse.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/FieldValidationTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods_admin_api/AdminApiTest.java
Labels: enhancement, project:slack-api-client

#486 Move UsersLookupByEmailResponse to the right package (source code compatible)
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/response/channels/UsersLookupByEmailResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/users/UsersLookupByEmailResponse.java
  slack-api-client/src/test/java/test_locally/api/methods/FieldValidation_o_to_z_Test.java
  slack-api-client/src/test/java/test_locally/api/methods/UsersTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/users_Test.java
Labels: bug, project:slack-api-client

#492 Fix #491 Append OAuth redirect URI to Slack OAuth URL
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/test/java/test_locally/AppTest.java
Labels: enhancement, project:bolt

#490 Fix #489 Event type extraction failure in slack-app-backend (no effect to Bolt)
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/EventTypeExtractorImpl.java
  slack-app-backend/src/test/java/test_locally/app_backend/events/EventTypeDetectorImplTest.java
Labels: bug, project:slack-app-backend

#493 v1.0.11 release
  bolt-aws-lambda/pom.xml
  bolt-docker-examples/echo-command-app/build.gradle
  bolt-helidon/pom.xml
  bolt-jetty/pom.xml
  bolt-kotlin-examples/pom.xml
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-servlet/pom.xml
  bolt-spring-boot-examples/pom.xml
  bolt/pom.xml
  bolt/src/main/java/com/slack/api/bolt/meta/BoltLibraryVersion.java
  docs/_config.yml
  pom.xml
  slack-api-client/pom.xml
  slack-api-client/src/main/java/com/slack/api/meta/SlackApiClientLibraryVersion.java
  slack-api-model/pom.xml
  slack-api-model/src/main/java/com/slack/api/meta/SlackApiModelLibraryVersion.java
  slack-app-backend/pom.xml
Labels: project:bolt, project:slack-app-backend

#497 Add proxyUrl in api client config document
  docs/.gitignore
  docs/guides/ja/web-api-basics.md
  docs/guides/web-api-basics.md
Labels: docs, project:slack-api-client

#496 Fix #494 by adding file_share message events & files in message_changed events
  bolt-servlet/src/test/java/test_with_remote_apis/EventsApiTest.java
  slack-api-model/src/main/java/com/slack/api/model/event/MessageChangedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/MessageFileShareEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/MessageEventTest.java
Labels: enhancement, project:slack-api-model, project:slack-app-backend

#500 Fix #499 Add proxy system properties support (http.proxyHost / http.proxyPort)
  slack-api-client/pom.xml
  slack-api-client/src/main/java/com/slack/api/SlackConfig.java
  slack-api-client/src/test/java/test_with_remote_apis/ProxyTest.java
Labels: enhancement, project:slack-api-client

#504 Add view builder extension function for Block Kit DSL
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/view/Extensions.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/view/ViewBuilderExtensionTest.kt
Labels: enhancement, lang:koltin, project:bolt

#505 Add calls.participants.remove, admin.usergroups.addTeams API
  json-logs/samples/api/admin.usergroups.addTeams.json
  json-logs/samples/api/calls.participants.remove.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/usergroups/AdminUsergroupsAddTeamsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/calls/participants/CallsParticipantsRemoveRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/usergroups/AdminUsergroupsAddTeamsResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/calls/participants/CallsParticipantsRemoveResponse.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/CallsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/FieldValidation_a_to_c_Test.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/FieldValidationTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/calls_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods_admin_api/AdminApiTest.java
Labels: enhancement, project:slack-api-client
