Repository slackapi/java-slack-sdk, pull requests merged in 2020-09, with the labels that each got.

#556 Add original_connected_channel_id to entry.channel in Audit Logs response
  json-logs/raw/status/api/v1.0.0/current.json
  json-logs/raw/status/api/v2.0.0/current.json
  json-logs/samples/api/search.all.json
  json-logs/samples/api/search.messages.json
  json-logs/samples/audit/v1/logs.json
  slack-api-client/src/main/java/com/slack/api/audit/response/LogsResponse.java
Labels: enhancement, project:slack-api-client

#560 Fixing cookie header parsing logic
  bolt/src/main/java/com/slack/api/bolt/service/OAuthStateService.java
  bolt/src/test/java/test_locally/service/OAuthStateServiceTest.java
Labels: bug, project:bolt

#559 Bump dependencies in v1.2
  bolt-helidon/pom.xml
  bolt-helidon/src/main/java/com/slack/api/bolt/helidon/SlackAppService.java
  bolt-helidon/src/test/java/util/HashRequestHeaders.java
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  docs/_config.yml
  pom.xml
  scripts/run_no_prep_tests.sh
Labels: lang:koltin, project:bolt, project:slack-api-client

#565 Upgrade okhttp from 4.8 to 4.9 (and some other minor ones too)
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  docs/_config.yml
  pom.xml
Labels: dependencies, project:slack-api-client

#567 Fix #566 by stopping propagation of okhttp's exception message including header values
  slack-api-client/src/main/java/com/slack/api/util/http/SlackHttpClient.java
  slack-api-client/src/test/java/test_locally/api/methods/impl/TeamIdCacheTest.java
  slack-api-client/src/test/java/test_locally/api/util/SlackHttpClientTest.java
Labels: bug, project:slack-api-client

#568 [1.1.x] #567 backport to 1.1.x series
  slack-api-client/src/main/java/com/slack/api/util/http/SlackHttpClient.java
  slack-api-client/src/test/java/test_locally/api/methods/impl/TeamIdCacheTest.java
  slack-api-client/src/test/java/test_locally/api/util/SlackHttpClientTest.java
Labels: bug, project:slack-api-client
