Repository slackapi/java-slack-sdk, pull requests merged in 2020-12, with the labels that each got.

#639 Added org-apps reference to docs
  docs/guides/app-distribution.md
Labels: docs

#645 Run all the integration tests - 2020-12-11 PT
  json-logs/samples/api/rtm.start.json
  json-logs/samples/events/StarAddedPayload.json
  json-logs/samples/events/StarRemovedPayload.json
  slack-api-client/src/main/java/com/slack/api/audit/response/LogsResponse.java
  slack-api-client/src/main/java/com/slack/api/util/json/GsonAuditLogsDetailsChangedValueFactory.java
  slack-api-client/src/test/java/test_locally/api/audit/FieldsTest.java
  slack-api-client/src/test/java/test_locally/api/util/json/GsonAuditLogsDetailsChangedValueFactoryTest.java
  slack-api-client/src/test/java/test_with_remote_apis/UserDefinedMethodsTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/mpim_Test.java
Labels: enhancement, project:slack-api-client

#648 Upgrade patch versions of dependencies
  bolt-google-cloud-functions/pom.xml
  bolt-http4k/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  pom.xml
  slack-api-client/pom.xml
Labels: dependencies, project:bolt, project:slack-api-client

#649 Fix #647 by adding files in attachment
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
  slack-api-model/src/main/java/com/slack/api/model/Attachment.java
  slack-app-backend/src/test/java/test_locally/app_backend/message_actions/payload/MessageShortcutPayloadTest.java
Labels: bug, project:slack-api-model
