Repository slackapi/java-slack-sdk, pull requests merged in 2020-08, with the labels that each got.

#534 Fix #533 by correcting the class for call block
  slack-api-client/src/test/java/test_with_remote_apis/methods/calls_Test.java
  slack-api-model/src/main/java/com/slack/api/model/block/CallBlock.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlockKitTest.java
Labels: bug, project:slack-api-client, project:slack-api-model

#537 Upgrade github-pages gem to the latest
  docs/Gemfile.lock
Labels: docs

#539 Fix #538 by adding api_app_id to SlashCommandPayload
  json-logs/samples/app-backend/slash-commands/SlashCommandPayload.json
  slack-app-backend/src/main/java/com/slack/api/app_backend/slash_commands/SlashCommandPayloadParser.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/slash_commands/payload/SlashCommandPayload.java
  slack-app-backend/src/test/java/test_locally/app_backend/slash_commands/SlashCommandPayloadTest.java
Labels: enhancement, project:bolt, project:slack-app-backend

#540 FIX: typo in ChatUnfurlRequest docs
  slack-api-client/src/main/java/com/slack/api/methods/request/chat/ChatUnfurlRequest.java
Labels: bug, docs, project:slack-api-client, untriaged

#546 Upgrade Quarkus, Spring Boot and so on (affecting only docs, samples)
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  docs/guides/ja/supported-web-frameworks.md
  docs/guides/supported-web-frameworks.md
  pom.xml
  scripts/check_dependency_updates.sh
Labels: dependencies, docs, project:bolt
