Repository slackapi/java-slack-sdk, pull requests merged in 2021-08, with the labels that each got.

#797 Bump dependency versions for v1.10 release
  bolt-http4k/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  docs/guides/getting-started-with-bolt-socket-mode.md
  docs/guides/getting-started-with-bolt.md
  docs/guides/ja/getting-started-with-bolt-socket-mode.md
  docs/guides/ja/getting-started-with-bolt.md
  pom.xml
  slack-api-client/pom.xml
Labels: project:bolt, project:slack-api-client, project:slack-api-client/rtm, project:slack-api-model, project:slack-app-backend

#796 Fix #795 Add OpenID Connect support
  bolt-servlet/pom.xml
  bolt-servlet/src/test/java/samples/OpenIDConnectSample.java
  bolt-servlet/src/test/java/util/ResourceLoader.java
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/main/java/com/slack/api/bolt/AppConfig.java
  bolt/src/main/java/com/slack/api/bolt/context/Context.java
  bolt/src/main/java/com/slack/api/bolt/service/OpenIDConnectNonceService.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/DefaultOAuthCallbackService.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/NullOpenIDConnectNonceService.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/oauth/OpenIDConnectErrorHandler.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/oauth/OpenIDConnectSuccessHandler.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/oauth/default_impl/OpenIDConnectDefaultErrorHandler.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/oauth/view/default_impl/OAuthDefaultRedirectUriPageRenderer.java
  bolt/src/test/java/test_locally/app/OpenIDConnectTest.java
  bolt/src/test/java/test_locally/service/OpenIDConnectNonceServiceTest.java
  json-logs/samples/api/openid.connect.token.json
  json-logs/samples/api/openid.connect.userInfo.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/openid/connect/OpenIDConnectTokenRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/openid/connect/OpenIDConnectUserInfoRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/openid/connect/OpenIDConnectTokenResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/openid/connect/OpenIDConnectUserInfoResponse.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/OpenIDConnectTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/openid_connect_Test.java
  slack-api-client/src/test/java/util/MockSlackApi.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/oauth/OAuthFlowOperator.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/oauth/payload/VerificationCodePayload.java
Labels: enhancement, project:bolt, project:slack-api-client, project:slack-app-backend

#800 Do not use privileged port numbers in AuthTestMockServer
  bolt-aws-lambda/src/test/java/util/PortProvider.java
  bolt-helidon/src/test/java/util/PortProvider.java
  bolt-http4k/src/test/java/util/PortProvider.java
  bolt-ktor/src/test/kotlin/util/PortProvider.java
  bolt-micronaut/src/test/java/util/PortProvider.java
  bolt-socket-mode/src/test/java/util/PortProvider.java
  bolt/src/test/java/util/PortProvider.java
  slack-api-client/src/test/java/util/PortProvider.java
  slack-app-backend/src/test/java/util/PortProvider.java
Labels: enhancement

#801 Fix #759 by adding common fields in Block Kit model interfaces
  slack-api-model/src/main/java/com/slack/api/model/block/ContextBlockElement.java
  slack-api-model/src/main/java/com/slack/api/model/block/LayoutBlock.java
  slack-api-model/src/main/java/com/slack/api/model/block/composition/TextObject.java
Labels: enhancement, project:slack-api-model

#804 Fix #802 Add files.upload integration tests using private channels
  json-logs/samples/api/files.info.json
  json-logs/samples/api/files.upload.json
  slack-api-client/src/test/java/test_with_remote_apis/methods/files_Test.java
Labels: enhancement, project:slack-api-client

#807 Improve the error caused in the #792 scenario
  slack-api-client/src/main/java/com/slack/api/Slack.java
  slack-api-client/src/main/java/com/slack/api/socket_mode/impl/SocketModeClientJavaWSImpl.java
  slack-api-client/src/main/java/com/slack/api/util/http/ProxyUrlUtil.java
  slack-api-client/src/test/java/test_locally/api/socket_mode/SocketModeClientTest.java
  slack-api-client/src/test/java/test_locally/api/socket_mode/SocketModeClient_Proxies_Test.java
Labels: enhancement, project:slack-api-client

#809 Update the slash command listener documents
  docs/guides/bolt-basics.md
  docs/guides/ja/bolt-basics.md
Labels: project:bolt, docs

#805 Fix #799 Add OpenID Connect document
  docs/_includes/sidebar-ja.md
  docs/_includes/sidebar.md
  docs/guides/app-distribution.md
  docs/guides/ja/app-distribution.md
  docs/guides/ja/sign-in-with-slack.md
  docs/guides/sign-in-with-slack.md
Labels: project:bolt, docs

#813 Fix #773 Add Slack Connect API/Event supports
  bolt-servlet/src/test/java/samples/EventsSample_SlackConnectInvites.java
  json-logs/samples/api/conversations.acceptSharedInvite.json
  json-logs/samples/api/conversations.approveSharedInvite.json
  json-logs/samples/api/conversations.declineSharedInvite.json
  json-logs/samples/api/conversations.inviteShared.json
  json-logs/samples/api/conversations.listConnectInvites.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/conversations/ConversationsAcceptSharedInviteRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/conversations/ConversationsApproveSharedInviteRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/conversations/ConversationsDeclineSharedInviteRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/conversations/ConversationsInviteSharedRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/conversations/ConversationsListConnectInvitesRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/ConversationsAcceptSharedInviteResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/ConversationsApproveSharedInviteResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/ConversationsDeclineSharedInviteResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/ConversationsInviteSharedResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/ConversationsListConnectInvitesResponse.java
  slack-api-client/src/test/java/config/Constants.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/ConversationsTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/conversations_connect_Test.java
  slack-api-model/src/main/java/com/slack/api/model/connect/ConnectChannel.java
  slack-api-model/src/main/java/com/slack/api/model/connect/ConnectInvite.java
  slack-api-model/src/main/java/com/slack/api/model/connect/ConnectInviteAcceptance.java
  slack-api-model/src/main/java/com/slack/api/model/connect/ConnectInviteDetail.java
  slack-api-model/src/main/java/com/slack/api/model/connect/ConnectInviteReview.java
  slack-api-model/src/main/java/com/slack/api/model/connect/ConnectTeam.java
  slack-api-model/src/main/java/com/slack/api/model/connect/ConnectUser.java
  slack-api-model/src/main/java/com/slack/api/model/connect/ConnectUserProfile.java
  slack-api-model/src/main/java/com/slack/api/model/event/SharedChannelInviteAcceptedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/SharedChannelInviteApprovedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/SharedChannelInviteDeclinedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/SharedChannelInviteReceivedEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/SharedChannelInviteAcceptedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/SharedChannelInviteApprovedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/SharedChannelInviteDeclinedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/SharedChannelInviteReceivedEventTest.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/SharedChannelInviteAcceptedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/SharedChannelInviteApprovedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/SharedChannelInviteDeclinedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/SharedChannelInviteReceivedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/SharedChannelInviteAcceptedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/SharedChannelInviteApprovedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/SharedChannelInviteDeclinedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/SharedChannelInviteReceivedPayload.java
  slack-app-backend/src/test/java/test_locally/app_backend/events/EventHandlersTest.java
Labels: enhancement, project:bolt, project:slack-api-client, project:slack-api-model, project:slack-app-backend

#815 Add JSON data covering all the rate limit tiers of Web APIs
  metadata/web-api/rate_limit_tiers.json
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/test/java/test_locally/sample_json_generation/RateLimitsDumpTest.java
Labels: enhancement, project:slack-api-client, docs

#819 Add missing optional arguments
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/apps/AdminAppsApproveRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/apps/AdminAppsRestrictRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/users/AdminUsersAssignRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/dnd/DndInfoRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/dnd/DndTeamInfoRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/pins/PinsAddRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/pins/PinsRemoveRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/reactions/ReactionsAddRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/reactions/ReactionsListRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/reminders/RemindersAddRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/reminders/RemindersCompleteRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/reminders/RemindersDeleteRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/reminders/RemindersInfoRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/reminders/RemindersListRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/search/SearchMessagesRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/stars/StarsListRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/usergroups/UsergroupsCreateRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/usergroups/UsergroupsDisableRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/usergroups/UsergroupsEnableRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/usergroups/UsergroupsListRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/usergroups/UsergroupsUpdateRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/usergroups/users/UsergroupsUsersListRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/usergroups/users/UsergroupsUsersUpdateRequest.java
Labels: bug, enhancement, project:slack-api-client

#817 Update link_shared event payload for the changes starting on September 1
  json-logs/samples/events/LinkSharedPayload.json
  json-logs/samples/rtm/LinkSharedEvent.json
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/chat/ChatUnfurlRequest.java
  slack-api-model/src/main/java/com/slack/api/model/event/LinkSharedEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/LinkSharedEventTest.java
Labels: enhancement, project:slack-api-model
