Repository slackapi/java-slack-sdk, pull requests merged in 2021-09, with the labels that each got.

#829 Fix #828 Add stateValidationEnabled option to AppConfig
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/main/java/com/slack/api/bolt/AppConfig.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/DefaultOAuthCallbackService.java
  bolt/src/test/java/test_locally/app/OAuthStartTest.java
  bolt/src/test/java/test_locally/service/DefaultOAuthCallbackServiceTest.java
Labels: enhancement, project:bolt

#832 Remove cached slack, client in App to reflect changes in AppConfig
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/test/java/test_locally/AppTest.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/TeamIdCache.java
Labels: enhancement, project:bolt

#838 Fix #837 oauth.v2.exchange API call fails due to lack of token parameter
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/oauth_Test.java
Labels: bug, project:slack-api-client

#835 Add missing end-to-end test patterns for conversations.replies
  json-logs/samples/api/conversations.replies.json
  slack-api-client/src/test/java/test_with_remote_apis/methods/conversations_Test.java
Labels: enhancement, project:slack-api-client

#839 Fix #836 NPE in bolt-google-cloud-functions when the response body coming from Bolt app is null
  bolt-google-cloud-functions/src/main/java/com/slack/api/bolt/google_cloud_functions/SlackApiFunction.java
  bolt-google-cloud-functions/src/test/java/test_locally/ResponseUtilityTest.java
Labels: bug, project:bolt

#840 Update dependencies for v1.12 release
  bolt-helidon/pom.xml
  bolt-http4k/pom.xml
  bolt-ktor/pom.xml
  pom.xml
Labels: project:bolt, project:slack-api-client, dependencies, project:slack-app-backend

#843 Add source to the ChartUnfurlRequest to accompany the unfurlId as an …
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/chat/ChatUnfurlRequest.java
Labels: bug, project:slack-api-client

#841 Fix #634 Add admin.conversations.{get|set|remove}CustomRetention API support
  json-logs/samples/api/admin.conversations.getCustomRetention.json
  json-logs/samples/api/admin.conversations.removeCustomRetention.json
  json-logs/samples/api/admin.conversations.setCustomRetention.json
  metadata/web-api/rate_limit_tiers.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/conversations/AdminConversationsGetCustomRetentionRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/conversations/AdminConversationsRemoveCustomRetentionRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/conversations/AdminConversationsSetCustomRetentionRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/conversations/AdminConversationsGetCustomRetentionResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/conversations/AdminConversationsRemoveCustomRetentionResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/conversations/AdminConversationsSetCustomRetentionResponse.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/FieldValidationTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods_admin_api/AdminApi_conversations_Test.java
Labels: enhancement, project:slack-api-client

#851 Fix spelling in socket example
  docs/guides/ja/socket-mode.md
  docs/guides/socket-mode.md
Labels: docs

#859 Fix #857 Add the missing "pronouns" field to User.Profile data class
  json-logs/samples/api/users.info.json
  json-logs/samples/api/users.lookupByEmail.json
  json-logs/samples/api/users.profile.get.json
  json-logs/samples/api/users.profile.set.json
  json-logs/samples/events/TeamJoinPayload.json
  json-logs/samples/events/UserChangePayload.json
  json-logs/samples/rtm/TeamJoinEvent.json
  json-logs/samples/rtm/UserChangeEvent.json
  slack-api-model/src/main/java/com/slack/api/model/User.java
Labels: enhancement, project:slack-api-client, project:slack-api-model
