Repository slackapi/java-slack-sdk, pull requests merged in 2021-03, with the labels that each got.

#701 Update OAuth document to have Spring Boot + S3 example
  docs/guides/app-distribution.md
  docs/guides/ja/app-distribution.md
Labels: docs, project:bolt

#702 Add the browser version URL in OAuth completion page
  bolt/src/main/java/com/slack/api/bolt/service/builtin/oauth/view/default_impl/OAuthDefaultRedirectUriPageRenderer.java
  bolt/src/test/java/test_locally/service/oauth/OAuthDefaultSuccessHandlerTest.java
  bolt/src/test/java/test_locally/service/oauth/OAuthV2DefaultSuccessHandlerTest.java
Labels: enhancement, project:bolt

#706 Bump dependencies in v1.7
  bolt-http4k/pom.xml
  bolt-jetty/pom.xml
  bolt-micronaut/pom.xml
  pom.xml
Labels: dependencies, enhancement, project:bolt

#707 Fix #698 Check fallback in attachments for missing fallback text warning
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/test/java/test_locally/api/methods/ChatTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
Labels: enhancement, project:slack-api-client

#709 Bump dependency versions for v1.7 release
  bolt-http4k/pom.xml
  pom.xml
Labels: dependencies, enhancement, project:bolt

#708 Fix #705 Add document about tokens_revoked / app_uninstalled event handlers
  docs/guides/app-distribution.md
  docs/guides/ja/app-distribution.md
Labels: docs, enhancement

#717 Fix #713 Add admin.users.session.* API support
  json-logs/samples/api/admin.users.session.clearSettings.json
  json-logs/samples/api/admin.users.session.getSettings.json
  json-logs/samples/api/admin.users.session.setSettings.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/users/AdminUsersSessionClearSettingsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/users/AdminUsersSessionGetSettingsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/users/AdminUsersSessionSetSettingsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/users/AdminUsersSessionClearSettingsResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/users/AdminUsersSessionGetSettingsResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/users/AdminUsersSessionSetSettingsResponse.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/FieldValidationTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods_admin_api/AdminApi_users_Test.java
  slack-api-client/src/test/java/util/sample_json_generation/JsonDataRecorder.java
Labels: enhancement, project:slack-api-client
