Repository slackapi/java-slack-sdk, pull requests merged in 2021-10, with the labels that each got.

#863 Support TimePickerElement in Block Kit Kotlin DSL
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/TimePickerElementBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/container/MultiBlockElementContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/container/SingleBlockElementContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/dsl/BlockElementInputDsl.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/ActionsBlockTest.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/HomeTemplateTest.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/validation/BlockElementBuilderValidationTest.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/validation/ValidationUtil.kt
Labels: enhancement, project:slack-api-model, lang:koltin

#866 Fix to parent pom.xml that allows submodules override default language level in IntelliJ IDEA
  pom.xml
Labels: project:bolt, project:slack-api-client, project:slack-api-model, project:slack-app-backend, project:slack-api-client/rtm

#868 Mark rtm.start as deprecated
  slack-api-client/src/main/java/com/slack/api/Slack.java
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/rtm/RTMStartRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/rtm/RTMStartResponse.java
Labels: enhancement, project:slack-api-client

#880 Upgrade patch/minor versions of dependencies for v1.13 release
  bolt-aws-lambda/pom.xml
  bolt-google-cloud-functions/pom.xml
  bolt-helidon/pom.xml
  bolt-http4k/pom.xml
  bolt-jetty/pom.xml
  bolt-kotlin-examples/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-servlet/pom.xml
  bolt-socket-mode/pom.xml
  bolt-spring-boot-examples/pom.xml
  bolt/pom.xml
  bolt/src/main/java/com/slack/api/bolt/meta/BoltLibraryVersion.java
  docs/_config.yml
  pom.xml
  slack-api-client-kotlin-extension/pom.xml
  slack-api-client/pom.xml
  slack-api-client/src/main/java/com/slack/api/meta/SlackApiClientLibraryVersion.java
  slack-api-model-kotlin-extension/pom.xml
  slack-api-model/pom.xml
  slack-api-model/src/main/java/com/slack/api/meta/SlackApiModelLibraryVersion.java
  slack-app-backend/pom.xml
Labels: enhancement, project:bolt, project:slack-api-client, project:slack-api-model, dependencies, project:slack-app-backend

#881 Document fix: Code snippet error in the OAuth document section
  docs/guides/app-distribution.md
Labels: docs
