Repository slackapi/java-slack-sdk, pull requests merged in 2021-05, with the labels that each got.

#740 Mark helpers for constructing rich_text blocks as deprecated
  slack-api-model/src/main/java/com/slack/api/model/block/Blocks.java
  slack-api-model/src/main/java/com/slack/api/model/block/element/BlockElements.java
Labels: enhancement, project:slack-api-model, project:slack-app-backend

#735 Add admin.apps.uninstall API support
  json-logs/samples/api/admin.apps.uninstall.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/apps/AdminAppsUninstallRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/apps/AdminAppsUninstallResponse.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods_admin_api/AdminApi_apps_Test.java
Labels: enhancement, project:slack-api-client

#739 Fix #738 Add blocks in app_mention event payloads
  bolt-servlet/src/test/java/test_with_remote_apis/EventsApiTest.java
  bolt-servlet/src/test/java/test_with_remote_apis/sample_json_generation/EventDataRecorder.java
  json-logs/samples/events/AppMentionPayload.json
  slack-api-model/src/main/java/com/slack/api/model/event/AppMentionEvent.java
  slack-app-backend/src/test/java/test_locally/sample_json_generation/EventsApiPayloadDumpTest.java
Labels: enhancement, project:slack-api-model, project:slack-app-backend

#741 Fix #719 Enable developers to customize the way to handle unmatched requests
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/main/java/com/slack/api/bolt/AppConfig.java
  bolt/src/main/java/com/slack/api/bolt/handler/UnmatchedRequestHandler.java
  bolt/src/main/java/com/slack/api/bolt/handler/builtin/DefaultUnmatchedRequestHandler.java
  bolt/src/main/java/com/slack/api/bolt/util/ListenerCodeSuggestion.java
  bolt/src/test/java/test_locally/app/AppConfigTest.java
  bolt/src/test/java/test_locally/util/ListenerCodeSuggestionTest.java
Labels: enhancement, project:bolt

#742 Update dependencies in v1.8
  bolt-helidon/pom.xml
  bolt-http4k/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  bolt-socket-mode/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  pom.xml
  slack-api-client/pom.xml
Labels: dependencies, project:bolt, project:slack-api-client, project:slack-api-model, project:slack-app-backend

#743 Add a test generating sample JSON data for interactivity APIs etc
  json-logs/samples/api/dialog.open.json
  json-logs/samples/api/migration.exchange.json
  json-logs/samples/api/users.getPresence.json
  json-logs/samples/api/users.identity.json
  json-logs/samples/api/views.open.json
  json-logs/samples/api/views.publish.json
  json-logs/samples/api/views.push.json
  json-logs/samples/api/views.update.json
  json-logs/samples/rtm/MessageEvent.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-client/src/test/java/test_locally/sample_json_generation/MethodsResponseDumpTest.java
  slack-api-client/src/test/java/util/sample_json_generation/SampleObjects.java
Labels: enhancement, project:slack-api-client

#748 Add is_bot_user_member to link_shared event payload
  json-logs/samples/events/LinkSharedPayload.json
  json-logs/samples/rtm/LinkSharedEvent.json
  slack-api-model/src/main/java/com/slack/api/model/event/LinkSharedEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/LinkSharedEventTest.java
Labels: enhancement, project:bolt, project:slack-api-model, project:slack-app-backend
