Repository slackapi/java-slack-sdk, pull requests merged in 2021-06, with the labels that each got.

#750 add missing param
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
Labels: bug, project:slack-api-client

#751 Fix for [slack-api-client] NullPointerException in runtime if proxy port is empty
  slack-api-client/src/main/java/com/slack/api/util/http/ProxyUrlUtil.java
Labels: bug, project:slack-api-client

#752 Add tests for #750
  slack-api-client/src/test/java/test_with_remote_apis/methods/files_Test.java
Labels: project:slack-api-client

#753 Upgrade dependencies for v1.8.1
  bolt-helidon/pom.xml
  bolt-http4k/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  pom.xml
  slack-api-client/pom.xml
Labels: project:bolt, project:slack-api-client, project:slack-api-model, project:slack-app-backend

#754 Correct users.conversations property type - created
  json-logs/samples/api/users.conversations.json
  slack-api-client/src/test/java/test_locally/api/methods/FieldValidation_a_to_c_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/users_Test.java
  slack-api-model/src/main/java/com/slack/api/model/Conversation.java
Labels: enhancement, project:slack-api-client, project:slack-api-model

#755 Add edited property to AppMentionEvent class
  bolt-servlet/src/test/java/test_with_remote_apis/EventsApiTest.java
  json-logs/samples/events/AppMentionPayload.json
  json-logs/samples/rtm/AppMentionEvent.json
  slack-api-model/src/main/java/com/slack/api/model/event/AppMentionEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/AppMentionEventTest.java
Labels: bug, project:slack-api-model, project:slack-app-backend

#756 Update Audit Logs API client tests and their outputs
  json-logs/samples/audit/v1/logs.json
  slack-api-client/src/main/java/com/slack/api/audit/response/LogsResponse.java
  slack-api-client/src/test/java/test_with_remote_apis/audit/ApiTest.java
  slack-api-client/src/test/java/util/sample_json_generation/JsonDataRecorder.java
Labels: project:slack-api-client

#758 Mitigate #757 by having retries for mock server bootstrap
  bolt-aws-lambda/src/test/java/util/AuthTestMockServer.java
  bolt-helidon/src/test/java/util/AuthTestMockServer.java
  bolt-http4k/src/test/java/util/AuthTestMockServer.java
  bolt-ktor/src/test/kotlin/util/AuthTestMockServer.java
  bolt-micronaut/src/test/java/util/AuthTestMockServer.java
  bolt-socket-mode/src/test/java/test_locally/SocketModeAppTest.java
  bolt-socket-mode/src/test/java/util/socket_mode/MockWebApiServer.java
  bolt-socket-mode/src/test/java/util/socket_mode/MockWebSocketServer.java
  bolt/src/test/java/test_locally/app/MultiTeamsAuthTestCacheTest.java
  bolt/src/test/java/test_locally/app/SingleTeamAuthTestCacheTest.java
  bolt/src/test/java/util/AuthTestMockServer.java
  bolt/src/test/java/util/MockSlackApiServer.java
  slack-api-client/src/test/java/util/MockSlackApiServer.java
  slack-api-client/src/test/java/util/socket_mode/MockWebApiServer.java
  slack-app-backend/src/test/java/util/MockSlackApiServer.java
Labels: project:bolt, project:slack-api-client

#770 Bump external dependency versions in v1.9
  bolt-helidon/pom.xml
  bolt-http4k/pom.xml
  bolt-micronaut/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  docs/guides/getting-started-with-bolt-socket-mode.md
  docs/guides/getting-started-with-bolt.md
  docs/guides/ja/getting-started-with-bolt-socket-mode.md
  docs/guides/ja/getting-started-with-bolt.md
  pom.xml
  slack-api-client/pom.xml
Labels: project:bolt, project:slack-api-client, project:slack-app-backend
