Repository slackapi/java-slack-sdk, pull requests merged in 2021-04, with the labels that each got.

#725 Run all the integration tests - 2021-04-06 PT
  json-logs/raw/audit/v1/actions.json
  json-logs/raw/status/api/v2.0.0/current.json
  json-logs/samples/events/UserChangePayload.json
  json-logs/samples/rtm/UserChangeEvent.json
  slack-api-client/src/main/java/com/slack/api/audit/Actions.java
  slack-api-model/src/main/java/com/slack/api/model/event/UserChangeEvent.java
Labels: enhancement, project:slack-api-model

#726 Run all the integration tests - 2021-04-08 PT
  json-logs/samples/api/reactions.list.json
  json-logs/samples/api/usergroups.create.json
  json-logs/samples/api/usergroups.enable.json
  json-logs/samples/api/usergroups.update.json
  json-logs/samples/events/SubteamCreatedPayload.json
  slack-api-model/src/main/java/com/slack/api/model/event/SubteamCreatedEvent.java
Labels: enhancement, project:slack-api-client, project:slack-api-model, project:slack-app-backend

#732 Fix non-closed response bug in bolt-ktor package
  bolt-ktor/src/main/kotlin/com/slack/api/bolt/ktor/package.kt
  bolt-ktor/src/test/kotlin/test_locally/app/events/test.kt
Labels: bug, lang:koltin, project:bolt
