Repository slackapi/java-slack-sdk, pull requests merged in 2021-01, with the labels that each got.

#656 Fix #652 by updating Bolt to work with multiple WorkflowStep middleware
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/WorkflowStep.java
  bolt/src/test/java/test_locally/app/WorkflowStepTest.java
Labels: bug, project:bolt

#657 Fix #643 Warn when chat.postMessage is called without `text` argument
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
Labels: enhancement, project:slack-api-client

#661 Fix #660 Add thread_ts to MessageBotEvent
  json-logs/samples/events/MessageBotPayload.json
  slack-api-model/src/main/java/com/slack/api/model/event/MessageBotEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/MessageEventTest.java
Labels: bug, project:slack-api-model

#663 Fix #662 by correcting data class for option_groups response
  slack-app-backend/src/main/java/com/slack/api/app_backend/interactive_components/response/OptionGroup.java
  slack-app-backend/src/test/java/test_locally/app_backend/interactive_components/response/BlockSuggestionResponseTest.java
Labels: bug, project:bolt, project:slack-app-backend

#665 Fix #664 add files to MessageEvent
  slack-api-model/src/main/java/com/slack/api/model/event/MessageEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/MessageEventTest.java
Labels: enhancement, project:slack-api-model

#667 Fix broken url in docs caused by typo
  docs/guides/ja/modals.md
Labels: bug, docs, project:bolt

#671 Add support for four workflow events
  bolt-servlet/src/test/java/samples/WorkflowStepListenersSample.java
  slack-api-model/src/main/java/com/slack/api/model/event/WorkflowDeletedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/WorkflowPublishedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/WorkflowStepDeletedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/WorkflowUnpublishedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/workflow/AppStep.java
  slack-api-model/src/main/java/com/slack/api/model/workflow/WorkflowDraftConfiguration.java
  slack-api-model/src/main/java/com/slack/api/model/workflow/WorkflowPublishedConfiguration.java
  slack-api-model/src/test/java/test_locally/api/model/event/WorkflowDeletedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/WorkflowPublishedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/WorkflowStepDeletedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/WorkflowUnpublishedEventTest.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/WorkflowDeletedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/WorkflowPublishedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/WorkflowStepDeletedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/WorkflowUnpublishedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/WorkflowDeletedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/WorkflowPublishedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/WorkflowStepDeletedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/WorkflowUnpublishedPayload.java
Labels: enhancement, project:slack-api-model, project:slack-app-backend
