Repository slackapi/java-slack-sdk, pull requests merged in 2021-07, with the labels that each got.

#772 Fix #767 by adding admin.auth.policy.* API support
  json-logs/samples/api/admin.auth.policy.assignEntities.json
  json-logs/samples/api/admin.auth.policy.getEntities.json
  json-logs/samples/api/admin.auth.policy.removeEntities.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/auth/policy/AdminAuthPolicyAssignEntitiesRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/auth/policy/AdminAuthPolicyGetEntitiesRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/auth/policy/AdminAuthPolicyRemoveEntitiesRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/auth/policy/AdminAuthPolicyAssignEntitiesResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/auth/policy/AdminAuthPolicyGetEntitiesResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/auth/policy/AdminAuthPolicyRemoveEntitiesResponse.java
  slack-api-client/src/test/java/config/Constants.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/FieldValidationTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods_admin_api/AdminApi_auth_policy_Test.java
Labels: enhancement, project:slack-api-client

#777 Update the oauth.v2.access req/resp for supporting token rotation #775
  json-logs/samples/api/oauth.v2.access.json
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/oauth/OAuthV2AccessRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/oauth/OAuthV2AccessResponse.java
  slack-api-client/src/test/java/test_locally/api/methods/OAuthTest.java
Labels: enhancement, project:slack-api-client

#778 Add oauth.v2.exchange endpoint support #775
  json-logs/samples/api/oauth.v2.exchange.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/oauth/OAuthV2ExchangeRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/oauth/OAuthV2ExchangeResponse.java
  slack-api-client/src/test/java/test_locally/api/methods/OAuthTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/oauth_Test.java
Labels: enhancement, project:slack-api-client

#782 Fix #766 by adding subteam to AdminConversationsSetConversationPrefsRequest.Pref
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/conversations/AdminConversationsSetConversationPrefsRequest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminConversationsSetConversationPrefsTest.java
Labels: bug, project:slack-api-client

#783 Fix #774 by adding missing fields in message_changed event class
  json-logs/samples/events/MessageChangedPayload.json
  slack-api-model/src/main/java/com/slack/api/model/event/MessageChangedEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/MessageChangedEventTest.java
Labels: bug, project:slack-api-model

#781 Fix #775 by adding token rotation support
  bolt-servlet/src/test/java/samples/OAuthSample.java
  bolt/src/main/java/com/slack/api/bolt/AppConfig.java
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/MultiTeamsAuthorization.java
  bolt/src/main/java/com/slack/api/bolt/model/Bot.java
  bolt/src/main/java/com/slack/api/bolt/model/Installer.java
  bolt/src/main/java/com/slack/api/bolt/model/builtin/DefaultBot.java
  bolt/src/main/java/com/slack/api/bolt/model/builtin/DefaultInstaller.java
  bolt/src/main/java/com/slack/api/bolt/service/InstallationService.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/AmazonS3InstallationService.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/FileInstallationService.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/oauth/default_impl/OAuthV2DefaultSuccessHandler.java
  slack-api-client/src/main/java/com/slack/api/token_rotation/CurrentToken.java
  slack-api-client/src/main/java/com/slack/api/token_rotation/RefreshedToken.java
  slack-api-client/src/main/java/com/slack/api/token_rotation/TokenRotationException.java
  slack-api-client/src/main/java/com/slack/api/token_rotation/TokenRotator.java
  slack-api-client/src/main/java/com/slack/api/util/http/listener/DetailedLoggingListener.java
  slack-api-client/src/test/java/test_locally/api/token_rotation/TokenRotatorTest.java
Labels: enhancement, project:bolt, project:slack-api-client

#786 Upgrade patch versions of external dependencies for v1.9 release
  bolt-helidon/pom.xml
  bolt-http4k/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  docs/_config.yml
  pom.xml
  slack-api-client/pom.xml
Labels: dependencies, project:bolt, project:slack-api-client

#788 Fix #768 by adding a test verifying with a user ID in other org/workspace
  json-logs/samples/api/users.info.json
  slack-api-client/src/test/java/config/Constants.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/users_Test.java
Labels: project:slack-api-client

#790 Fix #785 A video link posted in a channel, causes a IllegalStateException for Conversation history API call
  json-logs/samples/api/conversations.history.json
  json-logs/samples/app-backend/interactive-components/BlockActionPayload.json
  json-logs/samples/app-backend/interactive-components/MessageShortcutPayload.json
  json-logs/samples/events/MessageBotPayload.json
  json-logs/samples/events/MessageChangedPayload.json
  json-logs/samples/events/MessageDeletedPayload.json
  json-logs/samples/events/MessageEkmAccessDeniedPayload.json
  json-logs/samples/events/MessageFileSharePayload.json
  json-logs/samples/events/MessagePayload.json
  json-logs/samples/events/MessageRepliedPayload.json
  json-logs/samples/events/MessageThreadBroadcastPayload.json
  json-logs/samples/rtm/MessageEvent.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-client/src/main/java/com/slack/api/util/json/GsonFactory.java
  slack-api-client/src/main/java/com/slack/api/util/json/GsonMessageAttachmentVideoHtmlFactory.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
  slack-api-model/src/main/java/com/slack/api/model/Attachment.java
Labels: bug, project:slack-api-client

#791 Fix #784 by making MessageDeletedEvent compatible with all possible patterns
  bolt-servlet/src/test/java/test_with_remote_apis/EventsApiTest.java
  json-logs/samples/events/MessageChangedPayload.json
  json-logs/samples/events/MessageDeletedPayload.json
  slack-api-client/src/main/java/com/slack/api/util/json/GsonFactory.java
  slack-api-model/src/main/java/com/slack/api/model/event/MessageChangedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/MessageDeletedEvent.java
  slack-api-model/src/main/java/com/slack/api/util/json/GsonMessageAttachmentVideoHtmlFactory.java
  slack-api-model/src/main/java/com/slack/api/util/json/GsonMessageChangedEventPreviousMessageFactory.java
  slack-api-model/src/test/java/test_locally/api/model/event/MessageChangedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/MessageDeletedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/MessageEventTest.java
  slack-api-model/src/test/java/test_locally/unit/GsonFactory.java
  slack-app-backend/src/test/java/test_locally/sample_json_generation/EventsApiPayloadDumpTest.java
Labels: bug, project:slack-api-client, project:slack-api-model

#793 Link to contributing and maintainer guides from README
  .github/contributing.md
  .github/maintainers_guide.md
  README.md
Labels: docs

#794 Add email_password_policy_enabled to admin.users.invite API arguments
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/users/AdminUsersInviteRequest.java
Labels: enhancement, project:slack-api-client
