Repository slackapi/java-slack-sdk, pull requests merged in 2021-02, with the labels that each got.

#682 Upgrade dependencies for 1.6 release
  bolt-http4k/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  bolt-spring-boot-examples/pom.xml
  pom.xml
  slack-api-client/pom.xml
Labels: dependencies, project:bolt

#683 Add v1.6 document #681
  docs/guides/audit-logs-api.md
  docs/guides/ja/audit-logs-api.md
  docs/guides/ja/scim-api.md
  docs/guides/scim-api.md
Labels: docs, project:slack-api-client

#686 Add new user_auth_blocks property to chat.unfurl
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/chat/ChatUnfurlRequest.java
Labels: enhancement, project:slack-api-client

#688 Fix #687 Add channel_id_changed event (also message/channel_join)
  bolt-servlet/src/test/java/test_with_remote_apis/EventsApiApp.java
  json-logs/samples/events/ChannelIdChangedPayload.json
  json-logs/samples/events/MessageChannelJoinPayload.json
  slack-api-model/src/main/java/com/slack/api/model/event/ChannelIdChangedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/MessageChannelJoinEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/ChannelIdChangedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/MessageChannelJoinEventTest.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/ChannelIdChangedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/MessageChannelJoinHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/ChannelIdChangedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/MessageChannelJoinPayload.java
  slack-app-backend/src/test/java/test_locally/app_backend/events/EventHandlersTest.java
  slack-app-backend/src/test/java/test_locally/sample_json_generation/EventsApiPayloadDumpTest.java
Labels: enhancement, project:slack-api-model, project:slack-app-backend

#691 Correct javadoc for GoodbyeEvent
  slack-api-model/src/main/java/com/slack/api/model/event/GoodbyeEvent.java
Labels: bug, docs, project:slack-api-model

#692 Fix an error in a Japanese document
  docs/guides/ja/bolt-basics.md
Labels: docs, project:bolt

#693 Update integration tests for non-convo API deprecation
  slack-api-client/src/test/java/test_with_remote_apis/methods/channels_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/conversations_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/groups_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/im_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/mpim_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/pins_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/reactions_Test.java
Labels: project:slack-api-client

#695 Maven duplicates removals
  bolt-aws-lambda/pom.xml
  bolt-google-cloud-functions/pom.xml
  bolt-helidon/pom.xml
  bolt-http4k/pom.xml
  bolt-jetty/pom.xml
  bolt-kotlin-examples/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-servlet/pom.xml
  bolt-socket-mode/pom.xml
  bolt-spring-boot-examples/pom.xml
  bolt/pom.xml
  slack-api-client-kotlin-extension/pom.xml
  slack-api-client/pom.xml
  slack-api-model-kotlin-extension/pom.xml
  slack-api-model/pom.xml
  slack-app-backend/pom.xml
Labels: project:bolt, project:slack-api-client, project:slack-api-client/rtm, project:slack-api-model, project:slack-app-backend

#694 Add "channel_posting_permissions" message event support
  json-logs/samples/events/MessageChannelPostingPermissionsPayload.json
  slack-api-model/src/main/java/com/slack/api/model/event/MessageChannelPostingPermissionsEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/MessageChannelPostingPermissionsEventTest.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/MessageChannelPostingPermissionsHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/MessageChannelPostingPermissionsPayload.java
  slack-app-backend/src/test/java/test_locally/app_backend/events/EventHandlersTest.java
  slack-app-backend/src/test/java/test_locally/sample_json_generation/EventsApiPayloadDumpTest.java
Labels: project:slack-api-model, project:slack-app-backend

#696 Add public_channel type support in admin.analytics.getFile API
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/analytics/AdminAnalyticsGetFileRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/analytics/AdminAnalyticsGetFileResponse.java
  slack-api-client/src/test/java/test_with_remote_apis/methods_admin_api/AdminApi_analytics_Test.java
Labels: enhancement, project:slack-api-client
