Repository slackapi/java-slack-sdk, pull requests merged in 2021-12, with the labels that each got.

#902 Replace instances of event with request
  docs/guides/interactive-components.md
  docs/guides/ja/interactive-components.md
  docs/guides/ja/modals.md
  docs/guides/ja/steps-from-apps.md
  docs/guides/steps-from-apps.md
Labels: docs

#903 Fix #891 Migrate Micronaut version to 3.2
  bolt-micronaut/pom.xml
  bolt-micronaut/src/main/java/com/slack/api/bolt/micronaut/SlackAppMicronautAdapter.java
  bolt-micronaut/src/test/java/example/app/AppFactory.java
  bolt-micronaut/src/test/java/test_locally/app/CommandsTest.java
Labels: enhancement, project:bolt, dependencies

#905 Upgrade optional module dependencies' minor/patch versions
  bolt-http4k/pom.xml
  bolt-jetty/pom.xml
  bolt-micronaut/pom.xml
  docs/_config.yml
  pom.xml
  slack-api-client/pom.xml
  slack-api-client/src/main/java/com/slack/api/rate_limits/metrics/impl/BaseRedisMetricsDatastore.java
Labels: enhancement, project:bolt, project:slack-api-client, dependencies
