Repository slackapi/java-slack-sdk, pull requests merged in 2022-05, with the labels that each got.

#983 Tweaking warnings related to missing accessibility fields `text` and `fallback` when posting messages
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
Labels: enhancement, project:slack-api-client

#984 Add granular user change events
  bolt-socket-mode/src/test/java/samples/UserChangeEventApp.java
  json-logs/samples/events/UserHuddleChangedPayload.json
  json-logs/samples/events/UserProfileChangedPayload.json
  json-logs/samples/events/UserStatusChangedPayload.json
  slack-api-model/src/main/java/com/slack/api/model/event/UserHuddleChangedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/UserProfileChangedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/UserStatusChangedEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/UserHuddleChangedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/UserProfileChangedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/UserStatusChangedEventTest.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/UserHuddleChangedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/UserProfileChangedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/UserStatusChangedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/UserHuddleChangedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/UserProfileChangedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/UserStatusChangedPayload.java
  slack-app-backend/src/test/java/test_locally/app_backend/events/EventHandlersTest.java
  slack-app-backend/src/test/java/test_locally/sample_json_generation/EventsApiPayloadDumpTest.java
Labels: enhancement, project:slack-app-backend

#989 Link getting started instructions for gradle to the gradle app quickstart
  docs/guides/getting-started-with-bolt-socket-mode.md
  docs/guides/getting-started-with-bolt.md
Labels: docs

#990 Small improvements to the getting started documents for Bolt
  docs/guides/getting-started-with-bolt-socket-mode.md
  docs/guides/getting-started-with-bolt.md
Labels: docs
