Repository slackapi/java-slack-sdk, pull requests merged in 2022-04, with the labels that each got.

#958 Add domain to team.info API parameters
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/team/TeamInfoRequest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/team_Test.java
Labels: enhancement, project:slack-api-client

#959 Upgrade optional dependency patch/minor versions
  bolt-helidon/pom.xml
  bolt-http4k/pom.xml
  bolt-micronaut/pom.xml
  bolt-servlet/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  pom.xml
  slack-api-client/pom.xml
Labels: enhancement, project:bolt, project:slack-api-client, dependencies

#961 Fix #960 The bot refresh token is overridden with the user refresh token in OAuthV2DefaultSuccessHandler.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/oauth/default_impl/OAuthV2DefaultSuccessHandler.java
Labels: bug, project:bolt

#964 Add preivew param to chat.unfurl API parameters
  json-logs/samples/api/chat.postMessage.json
  json-logs/samples/api/chat.scheduleMessage.json
  json-logs/samples/api/chat.update.json
  json-logs/samples/api/conversations.history.json
  json-logs/samples/api/conversations.open.json
  json-logs/samples/api/conversations.replies.json
  json-logs/samples/api/files.info.json
  json-logs/samples/api/files.remote.add.json
  json-logs/samples/api/files.remote.info.json
  json-logs/samples/api/files.remote.share.json
  json-logs/samples/api/files.remote.update.json
  json-logs/samples/api/files.revokePublicURL.json
  json-logs/samples/api/files.sharedPublicURL.json
  json-logs/samples/api/files.upload.json
  json-logs/samples/api/pins.list.json
  json-logs/samples/api/rtm.start.json
  json-logs/samples/api/search.all.json
  json-logs/samples/api/search.messages.json
  json-logs/samples/api/stars.list.json
  json-logs/samples/app-backend/interactive-components/BlockActionPayload.json
  json-logs/samples/app-backend/interactive-components/MessageShortcutPayload.json
  json-logs/samples/events/MessageBotPayload.json
  json-logs/samples/events/MessageChangedPayload.json
  json-logs/samples/events/MessageDeletedPayload.json
  json-logs/samples/events/MessageEkmAccessDeniedPayload.json
  json-logs/samples/events/MessageFileSharePayload.json
  json-logs/samples/events/MessagePayload.json
  json-logs/samples/events/MessageRepliedPayload.json
  json-logs/samples/events/MessageThreadBroadcastPayload.json
  json-logs/samples/rtm/MessageEvent.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-client/src/main/java/com/slack/api/methods/request/chat/ChatUnfurlRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/ConversationsHistoryResponse.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
  slack-api-client/src/test/java/util/sample_json_generation/SampleObjects.java
  slack-api-model/src/main/java/com/slack/api/model/Attachment.java
Labels: enhancement, project:slack-api-client

#969 Fix #966 Ktor incorrectly decoding event json with unicode symbols
  bolt-ktor/src/main/kotlin/com/slack/api/bolt/ktor/package.kt
  bolt-ktor/src/test/kotlin/test_locally/app/events/test.kt
Labels: bug, project:bolt

#970 Fix #967 Attach AppConfig#getSingleTeamToken() to App#client()
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/test/java/test_locally/app/AppConfigTest.java
  bolt/src/test/java/util/AuthTestMockServer.java
Labels: enhancement, project:bolt

#973 Ugprade tyrus 1.x to 1.18, lombok patch version, and optional ones
  bolt-http4k/pom.xml
  bolt-micronaut/pom.xml
  bolt-socket-mode/pom.xml
  pom.xml
  slack-api-client/pom.xml
Labels: project:bolt, project:slack-api-client, dependencies
