Repository slackapi/java-slack-sdk, pull requests merged in 2022-09, with the labels that each got.

#1043 Add headers to WebhookResponse class
  slack-api-client/src/main/java/com/slack/api/Slack.java
  slack-api-client/src/test/java/test_with_remote_apis/IncomingWebhooksTest.java
  slack-api-model/src/main/java/com/slack/api/webhook/WebhookResponse.java
Labels: enhancement, project:slack-api-client

#1047 Add share_shortcut block support
  json-logs/samples/api/chat.postMessage.json
  json-logs/samples/api/chat.scheduleMessage.json
  json-logs/samples/api/chat.update.json
  json-logs/samples/api/conversations.history.json
  json-logs/samples/api/conversations.open.json
  json-logs/samples/api/conversations.replies.json
  json-logs/samples/api/reactions.get.json
  json-logs/samples/api/reactions.list.json
  json-logs/samples/api/rtm.start.json
  json-logs/samples/api/search.all.json
  json-logs/samples/api/search.messages.json
  json-logs/samples/api/stars.list.json
  json-logs/samples/rtm/MessageEvent.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-client/src/test/java/util/sample_json_generation/SampleObjects.java
  slack-api-model/src/main/java/com/slack/api/model/block/Blocks.java
  slack-api-model/src/main/java/com/slack/api/model/block/ShareShortcutBlock.java
  slack-api-model/src/main/java/com/slack/api/util/json/GsonLayoutBlockFactory.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlockKitTest.java
Labels: enhancement, project:slack-api-model

#1049 OAuth Support for Micronaut
  bolt-micronaut/src/main/java/com/slack/api/bolt/micronaut/SlackAppController.java
  bolt-micronaut/src/test/java/test_locally/ControllerTest.java
  bolt-micronaut/src/test/java/util/AuthTestMockServer.java
Labels: enhancement, project:bolt

#1051 initialize status in 3-args constructor
  bolt/src/main/java/com/slack/api/bolt/App.java
Labels: bug, project:bolt

#1053 Fixed CommandsTest for Bolt Micronaut
  bolt-micronaut/pom.xml
  bolt-micronaut/src/test/java/test_locally/app/CommandsTest.java
Labels: project:bolt

#1059 Fix #1058 Add include_all_metadata to conversations.replies arguments
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/conversations/ConversationsRepliesRequest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/message_metadata_Test.java
Labels: enhancement, project:slack-api-client

#1064 Fix #1060 Enable Slack#close() method to shutdown thread pools behind its SlackConfig
  slack-api-client/src/main/java/com/slack/api/Slack.java
  slack-api-client/src/main/java/com/slack/api/SlackConfig.java
  slack-api-client/src/main/java/com/slack/api/audit/impl/ThreadPools.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/ThreadPools.java
  slack-api-client/src/main/java/com/slack/api/scim/impl/ThreadPools.java
  slack-api-client/src/test/java/test_locally/SlackConfigTest.java
  slack-api-client/src/test/java/test_locally/SlackTest.java
Labels: enhancement, project:slack-api-client

#1063 Fix #1061 Add message metadata support for response_url / Incoming Webhooks calls
  bolt-socket-mode/src/test/java/samples/SimpleApp.java
  slack-api-client/src/test/java/test_with_remote_apis/IncomingWebhooksTest.java
  slack-api-model/src/main/java/com/slack/api/webhook/Payload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/interactive_components/response/ActionResponse.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/slash_commands/response/SlashCommandResponse.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/views/response/InputBlockResponse.java
Labels: enhancement, project:bolt, project:slack-api-client, project:slack-app-backend
