Repository slackapi/java-slack-sdk, pull requests merged in 2022-08, with the labels that each got.

#1031 Upgrade gson patch version and other optional ones
  bolt-helidon/pom.xml
  bolt-http4k/pom.xml
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  pom.xml
Labels: project:bolt, project:slack-api-client, dependencies

#1033 Upgrade ktor/http4k minor versions
  bolt-http4k/pom.xml
  bolt-ktor/pom.xml
Labels: project:bolt, dependencies

#1037 Fix link to Slack filetype documentation on API methods site
  slack-api-client/src/main/java/com/slack/api/methods/request/files/FilesUploadRequest.java
Labels: docs

#1039 Fix #1038 BlockActionPayload is missing app_unfurl information
  bolt-socket-mode/src/test/java/samples/UnfurlingApp.java
  json-logs/samples/app-backend/interactive-components/BlockActionPayload.json
  slack-app-backend/src/main/java/com/slack/api/app_backend/interactive_components/payload/BlockActionPayload.java
  slack-app-backend/src/test/java/test_locally/app_backend/interactive_components/payload/BlockActionPayloadTest.java
Labels: bug, project:bolt, project:slack-app-backend
