Repository slackapi/java-slack-sdk, pull requests merged in 2022-11, with the labels that each got.

#1076 Add datetimepicker, url, email, number block elements
  bolt-socket-mode/src/test/java/samples/SimpleApp.java
  json-logs/samples/api/views.open.json
  json-logs/samples/api/views.publish.json
  json-logs/samples/api/views.push.json
  json-logs/samples/api/views.update.json
  json-logs/samples/rtm/MessageEvent.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
  slack-api-client/src/test/java/util/sample_json_generation/SampleObjects.java
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/DatetimePickerElementBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/EmailTextInputElementBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/NumberInputElementBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/URLTextInputElementBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/container/MultiBlockElementContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/container/SingleBlockElementContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/dsl/BlockElementInputDsl.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/ActionsBlockTest.kt
  slack-api-model/src/main/java/com/slack/api/model/block/element/BlockElements.java
  slack-api-model/src/main/java/com/slack/api/model/block/element/DatetimePickerElement.java
  slack-api-model/src/main/java/com/slack/api/model/block/element/EmailTextInputElement.java
  slack-api-model/src/main/java/com/slack/api/model/block/element/NumberInputElement.java
  slack-api-model/src/main/java/com/slack/api/model/block/element/URLTextInputElement.java
  slack-api-model/src/main/java/com/slack/api/model/view/ViewState.java
  slack-api-model/src/main/java/com/slack/api/util/json/GsonBlockElementFactory.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlocksTest.java
  slack-app-backend/src/test/java/test_locally/app_backend/views/ViewSubmissionPayloadTest.java
Labels: enhancement, project:slack-api-model, project:slack-app-backend

#1077 Upgrade GSON and other optional dependencies
  bolt-http4k/pom.xml
  bolt-kotlin-examples/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-spring-boot-examples/pom.xml
  docs/_config.yml
  pom.xml
  slack-api-client/pom.xml
  slack-api-client/src/test/java/test_with_remote_apis/methods/files_remote_Test.java
  slack-api-model/src/main/java/com/slack/api/util/json/UnknownPropertyDetectionAdapterFactory.java
Labels: project:bolt, project:slack-api-client, project:slack-api-model, dependencies, project:slack-app-backend

#1081 Add requestFileInfo param to MethodsClient#filesUploadV2 method
  slack-api-client/src/main/java/com/slack/api/methods/impl/FilesUploadV2Helper.java
  slack-api-client/src/main/java/com/slack/api/methods/request/files/FilesUploadV2Request.java
  slack-api-client/src/test/java/test_locally/api/methods/FilesTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/files_Test.java
Labels: enhancement, project:slack-api-client

#1083 Update MemoryMetricsDatastore import in docs
  docs/guides/ja/web-api-basics.md
  docs/guides/web-api-basics.md
Labels: project:slack-api-client, docs

#1086 Fix #1084 by enabling app.message method to manage multiple handlers
  bolt-aws-lambda/src/test/java/test_locally/Issue419UseCaseTest.java
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/test/java/test_locally/app/MessageTest.java
Labels: bug, project:bolt

#1089 Fix #1088 Update MethodsClient to be consistent on the text field warnings with Node / Python SDKs
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
Labels: enhancement, project:slack-api-client

#1096 Update Spring Boot documents and examples to support v3
  bolt-spring-boot-examples/pom.xml
  bolt-spring-boot-examples/spring-boot-2/README.md
  bolt-spring-boot-examples/spring-boot-2/build.gradle
  bolt-spring-boot-examples/spring-boot-2/gradle/wrapper/gradle-wrapper.jar
  bolt-spring-boot-examples/spring-boot-2/gradle/wrapper/gradle-wrapper.properties
  bolt-spring-boot-examples/spring-boot-2/gradlew
  bolt-spring-boot-examples/spring-boot-2/gradlew.bat
  bolt-spring-boot-examples/spring-boot-2/src/main/java/example/Application.java
  bolt-spring-boot-examples/spring-boot-2/src/main/java/example/SlackApp.java
  bolt-spring-boot-examples/spring-boot-2/src/main/java/example/SlackAppController.java
  bolt-spring-boot-examples/spring-boot-2/src/main/java/example/SlackAppOAuthController.java
  bolt-spring-boot-examples/spring-boot-2/src/main/resources/application.yml
  bolt-spring-boot-examples/spring-boot-2/src/main/resources/logback.xml
  bolt-spring-boot-examples/spring-boot-3/README.md
  bolt-spring-boot-examples/spring-boot-3/build.gradle
  bolt-spring-boot-examples/spring-boot-3/gradle/wrapper/gradle-wrapper.jar
  bolt-spring-boot-examples/spring-boot-3/gradle/wrapper/gradle-wrapper.properties
  bolt-spring-boot-examples/spring-boot-3/gradlew
  bolt-spring-boot-examples/spring-boot-3/gradlew.bat
  bolt-spring-boot-examples/spring-boot-3/src/main/java/example/Application.java
  bolt-spring-boot-examples/spring-boot-3/src/main/java/example/SlackApp.java
  bolt-spring-boot-examples/spring-boot-3/src/main/java/example/SlackAppController.java
  bolt-spring-boot-examples/spring-boot-3/src/main/java/example/SlackAppOAuthController.java
  bolt-spring-boot-examples/spring-boot-3/src/main/resources/application.yml
  bolt-spring-boot-examples/spring-boot-3/src/main/resources/logback.xml
  bolt-spring-boot-examples/src/test/java/test_locally/ApplicationTests.java
  docs/_config.yml
  docs/guides/ja/supported-web-frameworks.md
  docs/guides/supported-web-frameworks.md
  pom.xml
  scripts/release.sh
Labels: project:bolt, docs

#1097 Fix #1092 by reducing info level logging in AmazonS3InstallationService/AmazonS3OAuthStateService
  bolt/src/main/java/com/slack/api/bolt/service/builtin/AmazonS3InstallationService.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/AmazonS3OAuthStateService.java
Labels: enhancement, project:bolt
