Repository slackapi/java-slack-sdk, pull requests merged in 2022-07, with the labels that each got.

#1010 Add timezone property to timepicker block element
  bolt-socket-mode/src/test/java/samples/SimpleApp.java
  json-logs/samples/api/views.open.json
  json-logs/samples/api/views.publish.json
  json-logs/samples/api/views.push.json
  json-logs/samples/api/views.update.json
  json-logs/samples/rtm/MessageEvent.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/TimePickerElementBuilder.kt
  slack-api-model/src/main/java/com/slack/api/model/block/element/TimePickerElement.java
  slack-api-model/src/main/java/com/slack/api/model/view/ViewState.java
  slack-app-backend/src/test/java/test_locally/app_backend/views/ViewSubmissionPayloadTest.java
Labels: enhancement, project:slack-api-model

#1012 Updates `tyrus-standalone-client` version from 1.17 to 1.19 in the documentations
  docs/_config.yml
  docs/guides/getting-started-with-bolt-socket-mode.md
  docs/guides/ja/getting-started-with-bolt-socket-mode.md
  docs/guides/ja/rtm.md
  docs/guides/ja/socket-mode.md
  docs/guides/rtm.md
  docs/guides/socket-mode.md
Labels: docs

#1014 Fix #1013 Update tyrus-standalone-client dependency from 1.18 to 1.19
  slack-api-client/pom.xml
Labels: enhancement, project:slack-api-client, dependencies

#1018 #981 migrate to ktor v2
  bolt-ktor/pom.xml
  bolt-ktor/src/main/kotlin/com/slack/api/bolt/ktor/package.kt
  bolt-ktor/src/test/kotlin/examples/oauth/app.kt
  bolt-ktor/src/test/kotlin/examples/simple/app.kt
  bolt-ktor/src/test/kotlin/test_locally/app/actions/KtorAppActionTest.kt
  bolt-ktor/src/test/kotlin/test_locally/app/actions/test.kt
  bolt-ktor/src/test/kotlin/test_locally/app/commands/KtorAppCommandTest.kt
  bolt-ktor/src/test/kotlin/test_locally/app/commands/test.kt
  bolt-ktor/src/test/kotlin/test_locally/app/events/KtorAppEventTest.kt
  bolt-ktor/src/test/kotlin/test_locally/app/events/test.kt
Labels: project:bolt, dependencies, lang:koltin

#1016 Fix #1015 Lambda handler class doesn't account for base64 encoded body
  bolt-aws-lambda/src/main/java/com/slack/api/bolt/aws_lambda/SlackApiLambdaHandler.java
Labels: project:bolt

#1020 Fix #1019 Add video block to Block Kit support
  json-logs/samples/api/chat.postMessage.json
  json-logs/samples/api/chat.scheduleMessage.json
  json-logs/samples/api/chat.update.json
  json-logs/samples/api/conversations.history.json
  json-logs/samples/api/conversations.open.json
  json-logs/samples/api/conversations.replies.json
  json-logs/samples/api/reactions.get.json
  json-logs/samples/api/reactions.list.json
  json-logs/samples/api/rtm.start.json
  json-logs/samples/api/search.all.json
  json-logs/samples/api/search.messages.json
  json-logs/samples/api/stars.list.json
  json-logs/samples/api/views.open.json
  json-logs/samples/api/views.publish.json
  json-logs/samples/api/views.push.json
  json-logs/samples/api/views.update.json
  json-logs/samples/rtm/MessageEvent.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
  slack-api-client/src/test/java/util/sample_json_generation/JsonDataRecorder.java
  slack-api-client/src/test/java/util/sample_json_generation/SampleObjects.java
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/VideoBlockBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/composition/container/SinglePlainTextObjectContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/composition/dsl/PlainTextObjectDsl.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/container/MultiLayoutBlockContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/dsl/LayoutBlockDsl.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/VideoBlockTest.kt
  slack-api-model/src/main/java/com/slack/api/model/block/Blocks.java
  slack-api-model/src/main/java/com/slack/api/model/block/VideoBlock.java
  slack-api-model/src/main/java/com/slack/api/util/json/GsonLayoutBlockFactory.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlockKitTest.java
Labels: enhancement, project:slack-api-model

#1022 Fix #1021 bolt-servlet improperly returns 200 OK with empty string to invalid requests
  bolt-http4k/src/test/java/test_locally/Http4kSlackAppTest.java
  bolt-jakarta-servlet/src/main/java/com/slack/api/bolt/jakarta_servlet/SlackAppServlet.java
  bolt-jakarta-servlet/src/test/java/test_locally/servlet_test/InvalidRequestPatternTest.java
  bolt-jakarta-servlet/src/test/java/test_locally/servlet_test/SlashCommandTest.java
  bolt-servlet/src/main/java/com/slack/api/bolt/servlet/SlackAppServlet.java
  bolt-servlet/src/test/java/test_locally/servlet/SlackOAuthAppServletTest.java
  bolt-servlet/src/test/java/test_locally/servlet_test/InvalidRequestPatternTest.java
  bolt-servlet/src/test/java/test_locally/servlet_test/SlashCommandTest.java
  bolt/src/main/java/com/slack/api/bolt/response/Response.java
  bolt/src/test/java/test_locally/app/InvalidPayloadPatternTest.java
Labels: bug, project:bolt

#1025 Improved readability of tests
  bolt-jakarta-servlet/src/test/java/test_locally/servlet_test/InvalidRequestPatternTest.java
  bolt-jakarta-servlet/src/test/java/test_locally/servlet_test/SlashCommandTest.java
  bolt-ktor/src/test/kotlin/test_locally/app/actions/KtorAppActionTest.kt
  bolt-servlet/src/test/java/test_locally/servlet_test/InvalidRequestPatternTest.java
  bolt-servlet/src/test/java/test_locally/servlet_test/SlashCommandTest.java
  bolt/src/test/java/test_locally/app/InvalidPayloadPatternTest.java
Labels: enhancement, project:bolt

#1027 Fix #1026 Upgrade Jetty 9.x version to the latest patch
  bolt-jetty/pom.xml
Labels: project:bolt, dependencies

#1030 Fix #1029 RichTextListElement.java have does not have border and offset fields
  json-logs/samples/api/chat.postMessage.json
  json-logs/samples/api/chat.scheduleMessage.json
  json-logs/samples/api/chat.update.json
  json-logs/samples/api/conversations.history.json
  json-logs/samples/api/conversations.open.json
  json-logs/samples/api/conversations.replies.json
  json-logs/samples/api/reactions.get.json
  json-logs/samples/api/reactions.list.json
  json-logs/samples/api/rtm.start.json
  json-logs/samples/api/search.all.json
  json-logs/samples/api/search.messages.json
  json-logs/samples/api/stars.list.json
  json-logs/samples/rtm/MessageEvent.json
  json-logs/samples/rtm/PinAddedEvent.json
  json-logs/samples/rtm/PinRemovedEvent.json
  json-logs/samples/rtm/StarAddedEvent.json
  json-logs/samples/rtm/StarRemovedEvent.json
  slack-api-model/src/main/java/com/slack/api/model/block/element/RichTextListElement.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlockKitTest.java
Labels: bug, project:slack-api-model
