Repository slackapi/java-slack-sdk, pull requests merged in 2022-06, with the labels that each got.

#994 Add missing properties to ChannelDeletedEvent
  json-logs/samples/events/ChannelDeletedPayload.json
  json-logs/samples/rtm/ChannelDeletedEvent.json
  slack-api-model/src/main/java/com/slack/api/model/event/ChannelDeletedEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/ChannelCreatedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/ChannelDeletedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/ChannelRenameEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/GroupDeletedEventTest.java
  slack-api-model/src/test/java/test_locally/api/model/event/GroupRenameEventTest.java
Labels: bug, project:slack-api-model

#997 Add cursor parameter to reactions.list API method
  json-logs/samples/api/reactions.list.json
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/reactions/ReactionsListRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/reactions/ReactionsListResponse.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/reactions_Test.java
Labels: bug, project:slack-api-client

#999 Fix a bug where DetailedLoggingListener does not print text request body
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/util/http/SlackHttpClient.java
  slack-api-client/src/main/java/com/slack/api/util/http/listener/DetailedLoggingListener.java
  slack-api-client/src/main/java/com/slack/api/util/http/listener/HttpResponseListener.java
Labels: bug, project:slack-api-client

#1000 Add unfurling capabilities to Webhook payload
  slack-api-model/src/main/java/com/slack/api/webhook/Payload.java
Labels: project:slack-api-client, project:slack-api-model

#1001 Fix #998 Upgrade okhttp version to 4.10
  bolt-aws-lambda/pom.xml
  bolt-google-cloud-functions/pom.xml
  bolt-helidon/pom.xml
  bolt-http4k/pom.xml
  bolt-jakarta-jetty/pom.xml
  bolt-jakarta-servlet/pom.xml
  bolt-jetty/pom.xml
  bolt-kotlin-examples/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  bolt-quarkus-examples/pom.xml
  bolt-servlet/pom.xml
  bolt-socket-mode/pom.xml
  bolt-spring-boot-examples/pom.xml
  bolt/pom.xml
  bolt/src/main/java/com/slack/api/bolt/meta/BoltLibraryVersion.java
  pom.xml
  slack-api-client-kotlin-extension/pom.xml
  slack-api-client/pom.xml
  slack-api-client/src/main/java/com/slack/api/meta/SlackApiClientLibraryVersion.java
  slack-api-model-kotlin-extension/pom.xml
  slack-api-model/pom.xml
  slack-api-model/src/main/java/com/slack/api/meta/SlackApiModelLibraryVersion.java
  slack-app-backend/pom.xml
Labels: enhancement, project:slack-api-client, dependencies

#1002 Add an overloaded method that accepts both text and blocks to Say
  bolt/src/main/java/com/slack/api/bolt/context/SayUtility.java
  bolt/src/test/java/test_locally/SayUtilityTest.java
Labels: enhancement, project:bolt

#1003 Fix #992 Automatically resolve the proxy URL by HTTP_PROXY env variable
  slack-api-client/src/main/java/com/slack/api/SlackConfig.java
Labels: enhancement, project:slack-api-client

#1005 Null validation for workflow update request
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
Labels: bug, project:slack-api-client

#1004 Arraylist<LayoutBlock> GSON anonymous inner class initialization bug
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/test/java/test_locally/api/methods/RequestFormBuilderTest.java
Labels: bug, project:slack-api-client
