Repository slackapi/java-slack-sdk, pull requests merged in 2022-10, with the labels that each got.

#1065 Add files.upload v2 support
  json-logs/samples/api/chat.postMessage.json
  json-logs/samples/api/conversations.history.json
  json-logs/samples/api/files.completeUploadExternal.json
  json-logs/samples/api/files.getUploadURLExternal.json
  json-logs/samples/api/files.list.json
  metadata/web-api/rate_limit_tiers.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/SlackFilesUploadV2Exception.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/FilesUploadV2Helper.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/files/FilesCompleteUploadExternalRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/files/FilesGetUploadURLExternalRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/files/FilesUploadRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/files/FilesUploadV2Request.java
  slack-api-client/src/main/java/com/slack/api/methods/response/files/FilesCompleteUploadExternalResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/files/FilesGetUploadURLExternalResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/files/FilesUploadV2Response.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/FilesTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/chat_Test.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/files_Test.java
  slack-api-client/src/test/java/util/sample_json_generation/JsonDataRecorder.java
Labels: enhancement, project:slack-api-client

#1068 Fix context.teamId for view interactions in a Slack Connect channel
  bolt/src/main/java/com/slack/api/bolt/request/builtin/ViewClosedRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/ViewSubmissionRequest.java
  bolt/src/test/java/test_locally/request/ViewClosedRequestTest.java
  bolt/src/test/java/test_locally/request/ViewSubmissionRequestTest.java
Labels: bug, project:bolt

#1079 Removed deprecated CodCov script
  .github/workflows/unit-tests-jdk-14.yml
  .github/workflows/unit-tests-jdk-8.yml
  scripts/run_no_prep_tests.sh
Labels: enhancement
