Repository slackapi/java-slack-sdk, pull requests merged in 2023-02, with the labels that each got.

#1116 docs(typo): replace `blow` with `below`
  docs/guides/interactive-components.md
Labels: docs

#1118 docs(contrib): use default branch of `main`
  .github/contributing.md
Labels: docs

#1117 Fix #1082 Add admin.roles.{list|add|remove}Assignments API supports
  json-logs/samples/api/admin.roles.addAssignments.json
  json-logs/samples/api/admin.roles.listAssignments.json
  json-logs/samples/api/admin.roles.removeAssignments.json
  metadata/web-api/rate_limit_tiers.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/roles/AdminRolesAddAssignmentsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/roles/AdminRolesListAssignmentsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/admin/roles/AdminRolesRemoveAssignmentsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/roles/AdminRolesAddAssignmentsResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/roles/AdminRolesListAssignmentsResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/admin/roles/AdminRolesRemoveAssignmentsResponse.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods_admin_api/AdminApi_roles_Test.java
  slack-api-model/src/main/java/com/slack/api/model/admin/RoleAssignment.java
Labels: enhancement, project:slack-api-client, project:slack-api-model

#1119 Upgrade Lombok/Kotlin patch versions (and optional others too)
  bolt-http4k/pom.xml
  bolt-ktor/pom.xml
  bolt-micronaut/pom.xml
  pom.xml
  slack-api-client/pom.xml
Labels: project:bolt, project:slack-api-client, project:slack-api-model, dependencies, project:slack-app-backend, lang:koltin
