Repository slackapi/java-slack-sdk, pull requests merged in 2023-05, with the labels that each got.

#1152 [Snyk] Upgrade com.google.cloud.functions:functions-framework-api from 1.0.3 to 1.0.4
  bolt-google-cloud-functions-example/pom.xml
Labels: project:bolt, dependencies, cla:signed

#1151 [Snyk] Upgrade org.slf4j:slf4j-simple from 1.7.30 to 1.7.36
  bolt-google-cloud-functions-example/pom.xml
Labels: project:bolt, dependencies, cla:signed

#1150 [Snyk] Upgrade com.google.cloud:google-cloud-storage from 1.113.9 to 1.118.1
  bolt-google-cloud-functions-example/pom.xml
Labels: project:bolt, dependencies, cla:signed

#1149 [Snyk] Upgrade org.eclipse.jetty:jetty-servlet from 9.4.48.v20220622 to 9.4.51.v20230217
  bolt-jetty/pom.xml
Labels: project:bolt, dependencies, cla:signed

#1148 [Snyk] Upgrade org.glassfish.tyrus.bundles:tyrus-standalone-client from 1.18 to 1.20
  bolt-socket-mode/pom.xml
Labels: project:slack-api-client, dependencies, cla:signed

#1153 [Snyk] Upgrade io.quarkus:quarkus-undertow from 2.14.2.Final to 2.16.6.Final
  bolt-quarkus-examples/pom.xml
Labels: cla:signed

#1154 [Snyk] Upgrade org.glassfish.tyrus.bundles:tyrus-standalone-client from 1.19 to 1.20
  slack-api-client/pom.xml
Labels: cla:signed

#1155 [Snyk] Upgrade redis.clients:jedis from 4.3.1 to 4.3.2
  slack-api-client/pom.xml
Labels: cla:signed

#1156 [Snyk] Upgrade io.helidon.bundles:helidon-bundles-webserver from 2.5.6 to 2.6.0
  bolt-helidon/pom.xml
Labels: cla:signed

#1160 Add cursor-based pagination to team.accessLogs API calls
  json-logs/samples/api/team.accessLogs.json
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/team/TeamAccessLogsRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/team/TeamAccessLogsResponse.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/team_Test.java
Labels: enhancement, project:slack-api-client

#1162 Fix #1161 Internal thread resources are not shut down when calling SlackConfig#close()
  slack-api-client/src/main/java/com/slack/api/SlackConfig.java
  slack-api-client/src/main/java/com/slack/api/rate_limits/metrics/MetricsDatastore.java
  slack-api-client/src/main/java/com/slack/api/rate_limits/metrics/impl/BaseMemoryMetricsDatastore.java
  slack-api-client/src/main/java/com/slack/api/rate_limits/metrics/impl/BaseRedisMetricsDatastore.java
  slack-api-client/src/test/java/test_locally/SlackConfigTest.java
Labels: bug, project:slack-api-client
