Repository slackapi/java-slack-sdk, pull requests merged in 2024-02, with the labels that each got.

#1278 Allow compatibility with Kotlin 1.6+
  pom.xml
Labels: project:slack-api-client, project:slack-api-model, lang:kotlin, cla:signed

#1281 Resolve #1279 by adjusting the bolt internal logic
  bolt/src/main/java/com/slack/api/bolt/request/builtin/EventRequest.java
  bolt/src/test/java/test_locally/app/EventTest.java
  json-logs/samples/events/AppMentionPayload.json
  slack-api-model/src/main/java/com/slack/api/model/event/AppMentionEvent.java
  slack-api-model/src/test/java/test_locally/api/model/event/AppMentionEventTest.java
Labels: bug, project:bolt

#1284 build: ignore autogenerated files created by eclipse.jdt.ls
  .gitignore
  bolt-spring-boot-examples/spring-boot-2/.gitignore
Labels: enhancement

#1285 Migrate from status.slack.com to slack-status.com
  slack-api-client/src/main/java/com/slack/api/status/v1/LegacyStatusClient.java
  slack-api-client/src/main/java/com/slack/api/status/v2/StatusClient.java
Labels: enhancement, project:slack-api-client
