Repository slackapi/java-slack-sdk, pull requests merged in 2024-06, with the labels that each got.

#1319 Add deprecation warnings to Steps from Apps components
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/main/java/com/slack/api/bolt/context/WorkflowCompleteUtility.java
  bolt/src/main/java/com/slack/api/bolt/context/WorkflowConfigureUtility.java
  bolt/src/main/java/com/slack/api/bolt/context/WorkflowFailUtility.java
  bolt/src/main/java/com/slack/api/bolt/context/WorkflowUpdateUtility.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/WorkflowStepEditContext.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/WorkflowStepExecuteContext.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/WorkflowStepSaveContext.java
  bolt/src/main/java/com/slack/api/bolt/handler/builtin/WorkflowStepEditHandler.java
  bolt/src/main/java/com/slack/api/bolt/handler/builtin/WorkflowStepExecuteHandler.java
  bolt/src/main/java/com/slack/api/bolt/handler/builtin/WorkflowStepSaveHandler.java
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/WorkflowStep.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/WorkflowStepEditRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/WorkflowStepExecuteRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/WorkflowStepSaveRequest.java
  slack-api-model/src/main/java/com/slack/api/model/event/WorkflowStepDeletedEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/WorkflowStepExecuteEvent.java
  slack-api-model/src/main/java/com/slack/api/model/event/WorkflowUnpublishedEvent.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/WorkflowDeletedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/WorkflowPublishedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/WorkflowStepDeletedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/WorkflowStepExecuteHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/handler/WorkflowUnpublishedHandler.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/WorkflowDeletedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/WorkflowPublishedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/WorkflowStepDeletedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/WorkflowStepExecutePayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/events/payload/WorkflowUnpublishedPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/interactive_components/payload/WorkflowStepEditPayload.java
  slack-app-backend/src/main/java/com/slack/api/app_backend/views/payload/WorkflowStepSavePayload.java
Labels: enhancement, project:bolt, project:slack-api-model

#1322 Adding new canvas public API sample JSON data
  json-logs/samples/api/canvases.access.delete.json
  json-logs/samples/api/canvases.access.set.json
  json-logs/samples/api/canvases.create.json
  json-logs/samples/api/canvases.delete.json
  json-logs/samples/api/canvases.edit.json
  json-logs/samples/api/canvases.sections.lookup.json
  json-logs/samples/api/conversations.canvases.create.json
Labels: project:slack-api-client

#1324 Upgrade http4k and micronaut
  bolt-http4k/pom.xml
  bolt-micronaut/pom.xml
Labels: project:bolt, dependencies

#1326 add externalTeams.list sample json
  json-logs/samples/api/team.externalTeams.list.json
Labels: project:slack-api-client

#1327 Add team.externalTeams.list API support
  json-logs/samples/api/files.info.json
  json-logs/samples/api/files.list.json
  json-logs/samples/api/files.remote.list.json
  json-logs/samples/api/team.externalTeams.list.json
  metadata/web-api/rate_limit_tiers.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/team/external_teams/TeamExternalTeamsListRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/team/external_teams/TeamExternalTeamsListResponse.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/TeamTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/team_Test.java
  slack-api-client/src/test/java/util/sample_json_generation/JsonDataRecorder.java
Labels: enhancement, project:slack-api-client
