Repository slackapi/java-slack-sdk, pull requests merged in 2024-01, with the labels that each got.

#1261 Update Ruby version for building documentation
  docs/.ruby-version
  docs/README.md
Labels: docs, dependencies, ruby

#1262 Update instructions in documentation for OAuth examples
  docs/guides/app-distribution.md
  docs/guides/ja/app-distribution.md
Labels: docs

#1258 Adds `style` property to RichText usergroup mentions, dates, broadcasts and color sub-elements
  slack-api-model/src/main/java/com/slack/api/model/block/element/RichTextSectionElement.java
Labels: enhancement, project:slack-api-model

#1266 Fix #1264 bolt-http4k fails to parse a request with duplicated header lines
  bolt-http4k/src/main/java/com/slack/api/bolt/http4k/Http4kSlackApp.java
  bolt-http4k/src/test/java/test_locally/Http4kSlackAppTest.java
Labels: bug, project:bolt

#1265 Fix #1256 Socket Mode connection error issue
  slack-api-client/src/main/java/com/slack/api/socket_mode/SocketModeClient.java
  slack-api-client/src/main/java/com/slack/api/socket_mode/impl/SocketModeClientJavaWSImpl.java
  slack-api-client/src/main/java/com/slack/api/socket_mode/impl/SocketModeClientTyrusImpl.java
Labels: bug, project:bolt, project:slack-api-client

#1268 Correct the rate limit tier setting for `users.profile.set` API calls
  metadata/web-api/rate_limit_tiers.json
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
Labels: enhancement, project:slack-api-client, cla:signed

#1270 Fix #1269 A bug on the metric calculation inside async API clients
  slack-api-client/src/main/java/com/slack/api/audit/impl/AsyncRateLimitExecutor.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncRateLimitExecutor.java
  slack-api-client/src/main/java/com/slack/api/rate_limits/metrics/impl/BaseMemoryMetricsDatastore.java
  slack-api-client/src/main/java/com/slack/api/scim/impl/AsyncRateLimitExecutor.java
  slack-api-client/src/main/java/com/slack/api/scim2/impl/AsyncRateLimitExecutor.java
Labels: bug, project:slack-api-client

#1272 Fix #1271 Add slack_file object to image block / block element classes
  json-logs/samples/api/chat.postMessage.json
  json-logs/samples/api/chat.scheduleMessage.json
  json-logs/samples/api/chat.update.json
  json-logs/samples/api/conversations.history.json
  json-logs/samples/api/conversations.open.json
  json-logs/samples/api/conversations.replies.json
  json-logs/samples/api/files.remote.add.json
  json-logs/samples/api/files.remote.info.json
  json-logs/samples/api/files.remote.share.json
  json-logs/samples/api/files.remote.update.json
  json-logs/samples/api/files.revokePublicURL.json
  json-logs/samples/api/files.sharedPublicURL.json
  json-logs/samples/api/files.upload.json
  json-logs/samples/api/pins.list.json
  json-logs/samples/api/reactions.get.json
  json-logs/samples/api/reactions.list.json
  json-logs/samples/api/rtm.start.json
  json-logs/samples/api/search.all.json
  json-logs/samples/api/search.files.json
  json-logs/samples/api/search.messages.json
  json-logs/samples/api/views.open.json
  json-logs/samples/api/views.publish.json
  json-logs/samples/api/views.push.json
  json-logs/samples/api/views.update.json
  json-logs/samples/app-backend/interactive-components/BlockActionPayload.json
  json-logs/samples/app-backend/interactive-components/MessageShortcutPayload.json
  json-logs/samples/events/AppMentionPayload.json
  json-logs/samples/events/MessageBotPayload.json
  json-logs/samples/events/MessageChangedPayload.json
  json-logs/samples/events/MessageDeletedPayload.json
  json-logs/samples/events/MessageEkmAccessDeniedPayload.json
  json-logs/samples/events/MessageFileSharePayload.json
  json-logs/samples/events/MessagePayload.json
  json-logs/samples/events/MessageRepliedPayload.json
  json-logs/samples/events/MessageThreadBroadcastPayload.json
  slack-api-client/src/test/java/test_with_remote_apis/methods/BlockKit_Test.java
  slack-api-client/src/test/java/util/sample_json_generation/SampleObjects.java
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/ImageBlockBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/composition/SlackFileObjectBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/composition/dsl/SlackFileObjectDsl.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/container/MultiBlockElementContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/container/SingleBlockElementContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/dsl/BlockElementDsl.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/FileAndImageTest.kt
  slack-api-model/src/main/java/com/slack/api/model/MatchedItem.java
  slack-api-model/src/main/java/com/slack/api/model/block/ImageBlock.java
  slack-api-model/src/main/java/com/slack/api/model/block/composition/BlockCompositions.java
  slack-api-model/src/main/java/com/slack/api/model/block/composition/SlackFileObject.java
  slack-api-model/src/main/java/com/slack/api/model/block/element/ImageElement.java
  slack-api-model/src/test/java/test_locally/api/model/block/BlocksTest.java
Labels: enhancement, project:slack-api-model

#1274 Fix #1273 AsyncMethodsRateLimiter does not handle ratelimitted errors properly
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsRateLimiter.java
  slack-api-client/src/test/java/test_locally/api/methods/RateLimitedTest.java
  slack-api-client/src/test/java/util/MockSlackApi.java
Labels: bug, project:slack-api-client
