Repository slackapi/java-slack-sdk, pull requests merged in 2024-09, with the labels that each got.

#1355 Updating app_requested payload to include new field
  json-logs/samples/api/admin.apps.approved.list.json
  json-logs/samples/api/admin.apps.requests.list.json
  json-logs/samples/api/admin.apps.restricted.list.json
  json-logs/samples/events/AppRequestedPayload.json
  slack-api-model/src/main/java/com/slack/api/model/admin/App.java
Labels: enhancement, project:slack-api-model

#1357 chore: group docusaurus dependencies
  .github/dependabot.yml
Labels: docs, dependencies

#1362 Add interactivity_pointer to views.open/push API params
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/request/views/ViewsOpenRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/views/ViewsPushRequest.java
Labels: enhancement, project:slack-api-client

#1365 Add conversations.requestSharedInvite.approve/deny APIs
  json-logs/samples/api/conversations.requestSharedInvite.approve.json
  json-logs/samples/api/conversations.requestSharedInvite.deny.json
  metadata/web-api/rate_limit_tiers.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/conversations/request_shared_invite/ConversationsRequestSharedInviteApproveRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/request/conversations/request_shared_invite/ConversationsRequestSharedInviteDenyRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/request_shared_invite/ConversationsRequestSharedInviteApproveResponse.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/request_shared_invite/ConversationsRequestSharedInviteDenyResponse.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/ConversationsTest.java
Labels: enhancement, project:slack-api-client

#1374 Fix #1373 LogsResponse in AuditClient returns "ok: false" when request was a success
  json-logs/raw/audit/v1/actions.json
  json-logs/raw/audit/v1/schemas.json
  json-logs/samples/audit/v1/actions.json
  json-logs/samples/audit/v1/logs.json
  json-logs/samples/audit/v1/schemas.json
  slack-api-client/src/main/java/com/slack/api/audit/Actions.java
  slack-api-client/src/main/java/com/slack/api/audit/response/ActionsResponse.java
  slack-api-client/src/main/java/com/slack/api/audit/response/LogsResponse.java
  slack-api-client/src/main/java/com/slack/api/audit/response/SchemasResponse.java
  slack-api-client/src/test/java/test_locally/api/util/json/GsonAuditLogsDetailsChangedValueFactoryTest.java
  slack-api-client/src/test/java/test_with_remote_apis/audit/ApiTest.java
Labels: bug, project:slack-api-client

#1377 Speedup slow tests due to rate limit
  slack-api-client/src/test/java/test_locally/api/methods/TeamTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
Labels: enhancement, project:slack-api-client, cla:signed

#1375 Fix #1147 Improve the logic to extract the requestUserId for context objects
  bolt/src/main/java/com/slack/api/bolt/request/builtin/EventRequest.java
  bolt/src/test/java/test_locally/request/EventRequestTest.java
Labels: enhancement, project:bolt

#1376 Add RichTextBlock support to Block Kit Kotlin DSL builder
  json-logs/samples/api/views.open.json
  json-logs/samples/api/views.publish.json
  json-logs/samples/api/views.push.json
  json-logs/samples/api/views.update.json
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/RichTextBlockBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/composition/container/MultiRichTextObjectContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/composition/dsl/RichTextObjectDsl.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/container/MultiLayoutBlockContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/dsl/LayoutBlockDsl.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/BroadcastRange.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/ListStyle.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/RichTextListElementBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/RichTextPreformattedElementBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/RichTextQuoteElementBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/RichTextSectionElementBuilder.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/container/MultiRichTextElementContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/container/MultiRichTextSectionElementContainer.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/dsl/RichTextElementDsl.kt
  slack-api-model-kotlin-extension/src/main/kotlin/com/slack/api/model/kotlin_extension/block/element/dsl/RichTextListElementDsl.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/RichTextBlockTest.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/validation/BlockBuilderValidationTest.kt
  slack-api-model-kotlin-extension/src/test/kotlin/test_locally/block/validation/BlockElementBuilderValidationTest.kt
  slack-api-model/src/main/java/com/slack/api/model/block/element/RichTextQuoteElement.java
Labels: enhancement, project:slack-api-model, lang:kotlin, cla:signed

#1380 Remove extra double quotes from the "Add to Slack" OAuth image alt text
  bolt/src/main/java/com/slack/api/bolt/service/builtin/oauth/view/default_impl/OAuthDefaultInstallPageRenderer.java
  bolt/src/test/java/test_locally/app/OAuthStartTest.java
  bolt/src/test/java/test_locally/app/OpenIDConnectTest.java
Labels: bug, project:bolt
