Repository slackapi/java-slack-sdk, pull requests merged in 2024-08, with the labels that each got.

#1344 docs: google analytics tag
  docs/docusaurus.config.js
Labels: docs

#1346 fix filename & title getting improperly defaulted in filesUploadV2
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/files_Test.java
Labels: bug, project:slack-api-client, cla:signed

#1350 Upgrade http4k and micronaut
  bolt-http4k/pom.xml
  bolt-micronaut/pom.xml
Labels: project:bolt, dependencies

#1351 Fix #1343 block_suggestion response does not support description in an option
  slack-app-backend/src/main/java/com/slack/api/app_backend/interactive_components/response/Option.java
Labels: bug, project:slack-app-backend

#1241 Add custom function support
  bolt-socket-mode/src/test/java/samples/SimpleApp.java
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/main/java/com/slack/api/bolt/AppConfig.java
  bolt/src/main/java/com/slack/api/bolt/context/Context.java
  bolt/src/main/java/com/slack/api/bolt/context/FunctionUtility.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/ActionContext.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/EventContext.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/ViewSubmissionContext.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/BlockActionRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/EventRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/ViewClosedRequest.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/ViewSubmissionRequest.java
  bolt/src/test/java/test_locally/app/RemoteFunctionTest.java
  bolt/src/test/java/util/MockSlackApi.java
  slack-api-client/src/main/java/com/slack/api/methods/request/functions/FunctionsCompleteSuccessRequest.java
Labels: enhancement, project:bolt, project:slack-api-client, project:slack-app-backend

#1352 Add Jakarta EE compatible Socket Mode client ref: #919
  bolt-jakarta-socket-mode/pom.xml
  bolt-jakarta-socket-mode/src/main/java/com/slack/api/bolt/jakarta_socket_mode/SocketModeApp.java
  bolt-jakarta-socket-mode/src/main/java/com/slack/api/bolt/jakarta_socket_mode/package-info.java
  bolt-jakarta-socket-mode/src/main/java/com/slack/api/bolt/jakarta_socket_mode/request/SocketModeRequest.java
  bolt-jakarta-socket-mode/src/main/java/com/slack/api/bolt/jakarta_socket_mode/request/SocketModeRequestParser.java
  bolt-jakarta-socket-mode/src/test/java/com/slack/api/bolt/servlet/ServletAdapterOps.java
  bolt-jakarta-socket-mode/src/test/java/com/slack/api/bolt/servlet/SlackAppServer.java
  bolt-jakarta-socket-mode/src/test/java/com/slack/api/bolt/servlet/SlackAppServlet.java
  bolt-jakarta-socket-mode/src/test/java/com/slack/api/bolt/servlet/SlackAppServletAdapter.java
  bolt-jakarta-socket-mode/src/test/java/com/slack/api/bolt/servlet/SlackOAuthAppServlet.java
  bolt-jakarta-socket-mode/src/test/java/config/Constants.java
  bolt-jakarta-socket-mode/src/test/java/config/SlackTestConfig.java
  bolt-jakarta-socket-mode/src/test/java/samples/MultipleConnections.java
  bolt-jakarta-socket-mode/src/test/java/samples/OAuth.java
  bolt-jakarta-socket-mode/src/test/java/samples/SimpleApp.java
  bolt-jakarta-socket-mode/src/test/java/samples/UnfurlingApp.java
  bolt-jakarta-socket-mode/src/test/java/samples/UserChangeEventApp.java
  bolt-jakarta-socket-mode/src/test/java/test_locally/SocketModeAppTest.java
  bolt-jakarta-socket-mode/src/test/java/test_with_remote_apis/EventsApiApp.java
  bolt-jakarta-socket-mode/src/test/java/test_with_remote_apis/EventsApiTest.java
  bolt-jakarta-socket-mode/src/test/java/util/PortProvider.java
  bolt-jakarta-socket-mode/src/test/java/util/ResourceLoader.java
  bolt-jakarta-socket-mode/src/test/java/util/socket_mode/MockSocketMode.java
  bolt-jakarta-socket-mode/src/test/java/util/socket_mode/MockWebApi.java
  bolt-jakarta-socket-mode/src/test/java/util/socket_mode/MockWebApiServer.java
  bolt-jakarta-socket-mode/src/test/java/util/socket_mode/MockWebSocketServer.java
  bolt-jakarta-socket-mode/src/test/resources/logback.xml
  docs/content/reference.md
  pom.xml
  scripts/run_all_bolt_tests.sh
  scripts/run_all_client_tests.sh
  scripts/run_no_prep_tests.sh
  slack-api-client/src/main/java/com/slack/api/socket_mode/SocketModeClient.java
  slack-jakarta-socket-mode-client/pom.xml
  slack-jakarta-socket-mode-client/src/main/java/com/slack/api/jakarta_socket_mode/JakartaSocketModeClientFactory.java
  slack-jakarta-socket-mode-client/src/main/java/com/slack/api/jakarta_socket_mode/impl/JakartaSocketModeClientTyrusImpl.java
  slack-jakarta-socket-mode-client/src/main/java/com/slack/api/jakarta_socket_mode/package-info.java
  slack-jakarta-socket-mode-client/src/test/java/config/Constants.java
  slack-jakarta-socket-mode-client/src/test/java/config/SlackTestConfig.java
  slack-jakarta-socket-mode-client/src/test/java/test_locally/jakarta_socket_mode/EnvelopeTest.java
  slack-jakarta-socket-mode-client/src/test/java/test_locally/jakarta_socket_mode/SocketModeClientTest.java
  slack-jakarta-socket-mode-client/src/test/java/test_locally/jakarta_socket_mode/SocketModeClient_Proxies_Test.java
  slack-jakarta-socket-mode-client/src/test/java/test_with_remote_apis/jakarta_socket_mode/SimpleSocketModeApp.java
  slack-jakarta-socket-mode-client/src/test/java/test_with_remote_apis/jakarta_socket_mode/SocketModeSnippet.java
  slack-jakarta-socket-mode-client/src/test/java/util/mock_server/MockSocketMode.java
  slack-jakarta-socket-mode-client/src/test/java/util/mock_server/MockWebApi.java
  slack-jakarta-socket-mode-client/src/test/java/util/mock_server/MockWebApiServer.java
  slack-jakarta-socket-mode-client/src/test/java/util/mock_server/MockWebSocketServer.java
  slack-jakarta-socket-mode-client/src/test/java/util/mock_server/PortProvider.java
  slack-jakarta-socket-mode-client/src/test/resources/logback.xml
  slack-jakarta-socket-mode-client/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: enhancement, project:bolt, project:slack-api-client, dependencies
