Repository slackapi/java-slack-sdk, pull requests merged in 2024-10, with the labels that each got.

#1382 adding `conversations.requestSharedInvite.list` response sample log
  json-logs/samples/api/conversations.requestSharedInvite.list.json
  metadata/web-api/rate_limit_tiers.json
  slack-api-client/src/main/java/com/slack/api/methods/AsyncMethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/Methods.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsClient.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/RequestFormBuilder.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/MethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/request/conversations/request_shared_invite/ConversationsRequestSharedInviteListRequest.java
  slack-api-client/src/main/java/com/slack/api/methods/response/conversations/request_shared_invite/ConversationsRequestSharedInviteListResponse.java
  slack-api-client/src/test/java/config/Constants.java
  slack-api-client/src/test/java/test_locally/api/methods/ConversationsTest.java
  slack-api-client/src/test/java/test_with_remote_apis/methods/conversations_connect_Test.java
Labels: enhancement, project:slack-api-client

#1387 Upgrade a few optional dependencies
  bolt-http4k/pom.xml
  bolt-jetty/pom.xml
  bolt-micronaut/pom.xml
  slack-api-client/pom.xml
Labels: project:bolt, project:slack-api-client, dependencies

#1372 Add Agents & Assistant support
  bolt-socket-mode/src/test/java/samples/AssistantEventListenerApp.java
  bolt-socket-mode/src/test/java/samples/AssistantInteractionApp.java
  bolt-socket-mode/src/test/java/samples/AssistantSimpleApp.java
  bolt/src/main/java/com/slack/api/bolt/App.java
  bolt/src/main/java/com/slack/api/bolt/AppConfig.java
  bolt/src/main/java/com/slack/api/bolt/context/builtin/EventContext.java
  bolt/src/main/java/com/slack/api/bolt/handler/AssistantEventHandler.java
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/Assistant.java
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/IgnoringSelfEvents.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/EventRequest.java
  bolt/src/main/java/com/slack/api/bolt/service/AssistantThreadContextService.java
  bolt/src/main/java/com/slack/api/bolt/service/builtin/DefaultAssistantThreadContextService.java
  bolt/src/main/java/com/slack/api/bolt/util/EventsApiPayloadParser.java
  bolt/src/test/java/test_locally/app/EventAssistantTest.java
  codecov.yml
  json-logs/samples/events/MessagePayload.json
  metadata/web-api/rate_limit_tiers.json
  slack-api-client/src/main/java/com/slack/api/audit/impl/AsyncAuditRateLimiter.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsCustomRateLimitResolver.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimitTier.java
  slack-api-client/src/main/java/com/slack/api/methods/MethodsRateLimits.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsClientImpl.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncMethodsRateLimiter.java
  slack-api-client/src/main/java/com/slack/api/methods/impl/AsyncRateLimitExecutor.java
  slack-api-client/src/main/java/com/slack/api/rate_limits/RateLimiter.java
  slack-api-client/src/main/java/com/slack/api/rate_limits/WaitTimeCalculator.java
  slack-api-client/src/main/java/com/slack/api/scim/impl/AsyncSCIMRateLimiter.java
  slack-api-client/src/main/java/com/slack/api/scim2/impl/AsyncSCIM2RateLimiter.java
  slack-api-client/src/test/java/test_locally/api/methods/CustomRateLimitsTest.java
  slack-api-client/src/test/java/test_locally/api/methods/TeamTest.java
  slack-api-client/src/test/java/test_locally/api/methods_admin_api/AdminApiAsyncTest.java
  slack-api-model/src/main/java/com/slack/api/model/assistant/SuggestedPrompt.java
  slack-api-model/src/main/java/com/slack/api/model/event/MessageEvent.java
  slack-api-model/src/test/java/test_locally/api/model/assistant/SuggestedPromptTest.java
Labels: enhancement, project:bolt

#1383 Add Agents & Assistants document page
  docs/content/guides/assistants.md
  docs/i18n/ja-jp/docusaurus-plugin-content-docs/current/guides/assistants.md
  docs/sidebars.js
Labels: project:bolt, project:slack-api-client, docs

#1389 Fix a bug where parsing assistant thread message event fails for beta feature enabled apps
  bolt/src/main/java/com/slack/api/bolt/middleware/builtin/Assistant.java
  bolt/src/main/java/com/slack/api/bolt/request/builtin/EventRequest.java
  bolt/src/main/java/com/slack/api/bolt/util/EventsApiPayloadParser.java
  bolt/src/test/java/test_locally/app/EventAssistantTest.java
Labels: bug, project:bolt

#1390 Add title to EventContext#setSuggestedPrompts argument list
  bolt/src/main/java/com/slack/api/bolt/context/builtin/EventContext.java
Labels: enhancement, project:bolt
