Repository slackapi/java-slack-sdk, pull requests merged in 2025-05, with the labels that each got.

#1469 Add API data changes mostly in April
  json-logs/raw/audit/v1/actions.json
  json-logs/samples/api/files.completeUploadExternal.json
  json-logs/samples/scim/v2/Users.json
  slack-api-client/src/main/java/com/slack/api/audit/Actions.java
  slack-api-client/src/test/java/test_locally/api/MethodsTest.java
  slack-api-model/src/main/java/com/slack/api/model/File.java
Labels: cla:signed

#1474 Pin GitHub Actions workflow step hashes and use minimum permission
  .github/workflows/docs-deploy.yaml
  .github/workflows/triage-issues.yml
  .github/workflows/unit-tests-jdk-14.yml
  .github/workflows/unit-tests-jdk-17.yml
  .github/workflows/unit-tests-jdk-8.yml
Labels: dependencies, github_actions

#1472 Replace misspellings of Jakarta in reference documentation
  docs/content/reference.md
  docs/i18n/ja-jp/docusaurus-plugin-content-docs/current/reference.md
Labels: docs, cla:signed
